package {{genAddNatureHandler.packageId}};

import mb.spoofax.eclipse.nature.AddNatureHandler;

public class {{genAddNatureHandler.id}} extends AddNatureHandler {
    public static final String commandId = "{{addNatureCommandId}}";

    public {{genAddNatureHandler.id}}() {
        super({{plugin.qualifiedId}}.getComponent());
    }
}
