package {{genModule.packageId}};

import dagger.Module;
import dagger.Provides;
import mb.spoofax.core.language.LanguageScope;
import mb.spoofax.eclipse.EclipseIdentifiers;

@Module
public class {{genModule.id}} {
    @Provides @LanguageScope
    EclipseIdentifiers provideEclipseIdentifiers() {
        return new {{eclipseIdentifiers.qualifiedId}}();
    }
}
