Manifest-Version: 1.0
Bundle-ManifestVersion: 2
Bundle-Activator: {{plugin.qualifiedId}}
Export-Package: {{shared.eclipseProject.packageId}}
Bundle-RequiredExecutionEnvironment: JavaSE-1.8
Bundle-ActivationPolicy: lazy
