<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <!-- Extension point for participating in the lifecycle of resource service and PIE components -->
  <extension-point
    id="mb.spoofax.eclipse.lifecycle"
    name="Spoofax Eclipse lifecycle participant"
    schema="schema/mb.spoofax.eclipse.lifecycle.exsd"
  />

  <!-- Early startup -->
  <extension
    point="org.eclipse.ui.startup"
  >
    <startup class="mb.spoofax.eclipse.SpoofaxPlugin"/>
  </extension>

  <!-- Register NamedDocumentProvider as the default document provider for NamedEditorInput -->
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider
      inputTypes="mb.spoofax.eclipse.editor.NamedEditorInput"
      class="mb.spoofax.eclipse.editor.NamedDocumentProvider"
      id="spoofax.eclipse.NamedDocumentProvider">
    </provider>
  </extension>
</plugin>
