<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <!-- Register NamedDocumentProvider as the default document provider for NamedEditorInput -->
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider
      inputTypes="mb.spoofax.eclipse.editor.NamedEditorInput"
      class="mb.spoofax.eclipse.editor.NamedDocumentProvider"
      id="spoofax.eclipse.NamedDocumentProvider">
    </provider>
  </extension>

  <!-- Menus -->
  <extension point="org.eclipse.ui.menus">
    <!-- Main -->
    <menuContribution locationURI="menu:org.eclipse.ui.main.menu">
      <menu id="spoofax.eclipse.menu.main" label="Spoofax">
        <menu id="spoofax.eclipse.menu.main.debug" label="Debug">
          <menu id="spoofax.eclipse.menu.main.debug.pie" label="PIE">
            <command commandId="spoofax.eclipse.pie.dropstore" />
            <command commandId="spoofax.eclipse.pie.gc" />
          </menu>
        </menu>
      </menu>
    </menuContribution>
  </extension>

  <!-- Commands -->
  <extension point="org.eclipse.ui.commands">
    <command id="spoofax.eclipse.pie.dropstore" name="Drop store"/>
    <command id="spoofax.eclipse.pie.gc" name="Garbage collect"/>
  </extension>
  <!-- Handlers -->
  <extension point="org.eclipse.ui.handlers">
    <handler
      commandId="spoofax.eclipse.pie.dropstore"
      class="mb.spoofax.eclipse.pie.DropStoreHandler"
    />
    <handler
      commandId="spoofax.eclipse.pie.gc"
      class="mb.spoofax.eclipse.pie.GarbageCollectHandler"
    />
  </extension>
</plugin>
