package {{genContextProvider.packageId}};

import mb.statix.multilang.ContextId;
import mb.statix.multilang.LanguageId;
import mb.statix.multilang.eclipse.ConstantContextMetadataProvider;

import java.util.Collections;
import java.util.HashMap;
import java.util.Map;
import java.util.Set;

public class {{genContextProvider.id}} extends ConstantContextMetadataProvider {

    public {{genContextProvider.id}}() {
        super(getDefaultContexts());
    }

    {{#adapterProjectCompilerInput.multilangAnalyzer}}
    private static Map<ContextId, Set<LanguageId>> getDefaultContexts() {
        Set<LanguageId> languageIdSet = Collections.singleton(new LanguageId("{{languageId}}"));
        HashMap<ContextId, Set<LanguageId>> configMap = new HashMap<>();
        configMap.put(new ContextId("{{languageId}}"), languageIdSet);
        configMap.put(new ContextId("{{contextId}}"), languageIdSet);
        return configMap;
    }
    {{/adapterProjectCompilerInput.multilangAnalyzer}}
}
