package {{genContextProvider.packageId}};

import com.google.common.collect.Lists;
import mb.statix.multilang.ContextConfig;
import mb.statix.multilang.ContextId;
import mb.statix.multilang.LanguageId;
import mb.statix.multilang.eclipse.ConstantContextMetadataProvider;

import java.util.HashMap;
import java.util.Map;

public class {{genContextProvider.id}} extends ConstantContextMetadataProvider {

    public {{genContextProvider.id}}() {
        super(getDefaultContexts());
    }

    private static Map<ContextId, ContextConfig> getDefaultContexts() {
        ContextConfig config = new ContextConfig();
        {{#adapterProjectCompilerInput.multilangAnalyzer}}
        config.setLanguages(Lists.newArrayList(new LanguageId("{{languageId}}")));
        HashMap<ContextId, ContextConfig> configMap = new HashMap<>();
        configMap.put(new ContextId("{{languageId}}"), config);
        configMap.put(new ContextId("{{contextId}}"), config);
        {{/adapterProjectCompilerInput.multilangAnalyzer}}
        return configMap;
    }
}
