package {{genMetadataProvider.packageId}};

import mb.statix.multilang.LanguageId;
import mb.statix.multilang.LanguageMetadata;
import mb.statix.multilang.eclipse.LanguageMetadataProvider;
import org.metaborg.util.iterators.Iterables2;

import java.util.AbstractMap;
import java.util.Map;
import java.util.function.Supplier;

public class {{genMetadataProvider.id}} implements LanguageMetadataProvider {

    private LanguageMetadata getLanguageMetadata() {
        {{adapterProjectCompilerInput.component.qualifiedId}} component = {{genPlugin.id}}.getComponent();
        {{adapterProjectCompilerInput.instance.qualifiedId}} langInstance = component.getLanguageInstance();
        return langInstance.getLanguageMetadata();
    }

    @Override
    public Iterable<Map.Entry<LanguageId, Supplier<LanguageMetadata>>> getLanguageMetadatas() {
        return Iterables2.singleton(new AbstractMap.SimpleEntry<>(new LanguageId("{{adapterProjectCompilerInput.multilangAnalyzer.value.languageId}}"), this::getLanguageMetadata));
    }
}
