package {{genObserveHandler.packageId}};

import mb.spoofax.eclipse.menu.ObserveHandler;

public class {{genObserveHandler.id}} extends ObserveHandler {
    public {{genObserveHandler.id}}() {
        super({{plugin.qualifiedId}}.getComponent());
    }
}
