package {{genPlugin.packageId}};

import mb.pie.api.ExecException;
import mb.spoofax.eclipse.SpoofaxPlugin;
import mb.spoofax.eclipse.util.StatusUtil;
{{#this.adapterProjectCompilerInput.isMultiLang}}
import mb.statix.multilang.eclipse.MultiLangPlugin;
{{/this.adapterProjectCompilerInput.isMultiLang}}
import org.checkerframework.checker.nullness.qual.NonNull;
import org.checkerframework.checker.nullness.qual.Nullable;
import org.eclipse.core.resources.WorkspaceJob;
import org.eclipse.core.runtime.CoreException;
import org.eclipse.core.runtime.IProgressMonitor;
import org.eclipse.core.runtime.IStatus;
import org.eclipse.ui.plugin.AbstractUIPlugin;
import org.osgi.framework.BundleContext;

import java.io.IOException;

public class {{genPlugin.id}} extends AbstractUIPlugin {
    public static final String pluginId = "{{pluginId}}";

    private static {{eclipseComponent.nullableQualifiedId}} component;

    public static {{eclipseComponent.qualifiedId}} getComponent() {
        if(component == null) {
            throw new RuntimeException(
                "Cannot access {{eclipseComponent.id}}; {{genPlugin.id}} has not been started yet, or has been stopped");
        }
        return component;
    }

    @Override public void start(@NonNull BundleContext context) throws Exception {
        super.start(context);
        component = {{daggerEclipseComponent.qualifiedId}}
            .builder()
            .platformComponent(SpoofaxPlugin.getComponent())
            {{#this.adapterProjectCompilerInput.multilangAnalyzer}}
            .multiLangEclipseComponent(MultiLangPlugin.getComponent())
            {{/this.adapterProjectCompilerInput.multilangAnalyzer}}
            .build();

        component.getEditorTracker().register();

        WorkspaceJob job = new WorkspaceJob("{{shared.name}} startup") {
            @Override public IStatus runInWorkspace(IProgressMonitor monitor) throws CoreException {
                try {
                    SpoofaxPlugin.getComponent().getPieRunner().startup(component, monitor);
                } catch(IOException | ExecException | InterruptedException e) {
                    throw new CoreException(StatusUtil.error("{{shared.name}} startup job failed unexpectedly", e));
                }
                return StatusUtil.success();
            }
        };
        job.setRule(component.startupWriteLockRule());
        job.schedule();
    }

    @Override public void stop(@NonNull BundleContext context) throws Exception {
        super.stop(context);
        component = null;
    }
}
