package {{genResourceContextMenu.packageId}};

import mb.spoofax.eclipse.menu.ResourceContextMenu;

public class {{genResourceContextMenu.id}} extends ResourceContextMenu {
    public {{genResourceContextMenu.id}}() {
        super({{plugin.qualifiedId}}.getComponent());
    }
}
