package {{genUnobserveHandler.packageId}};

import mb.spoofax.eclipse.menu.UnobserveHandler;

public class {{genUnobserveHandler.id}} extends UnobserveHandler {
    public {{genUnobserveHandler.id}}() {
        super({{plugin.qualifiedId}}.getComponent());
    }
}
