package {{genStyleTaskDef.packageId}};

import mb.common.style.Styling;
import mb.common.token.Token;
import mb.pie.api.ExecContext;
import mb.pie.api.ExecException;
import mb.pie.api.Provider;
import mb.pie.api.TaskDef;
import mb.spoofax.core.language.LanguageScope;
import org.checkerframework.checker.nullness.qual.Nullable;
import org.spoofax.interpreter.terms.IStrategoTerm;

import javax.inject.Inject;
import java.io.IOException;
import java.util.ArrayList;

@LanguageScope
public class {{genStyleTaskDef.id}} implements TaskDef<Provider<@Nullable ArrayList<? extends Token<IStrategoTerm>>>, @Nullable Styling> {
    private final {{styler.qualifiedId}} styler;

    @Inject public {{genStyleTaskDef.id}}({{styler.qualifiedId}} styler) {
        this.styler = styler;
    }

    @Override public String getId() {
        return "{{genStyleTaskDef.qualifiedId}}";
    }

    @Override
    public @Nullable Styling exec(ExecContext context, Provider<@Nullable ArrayList<? extends Token<IStrategoTerm>>> tokensProvider) throws ExecException, IOException, InterruptedException {
        final @Nullable ArrayList<? extends Token<IStrategoTerm>> tokens = context.require(tokensProvider);
        //noinspection ConstantConditions
        if(tokens == null) {
            return null;
        } else {
            return styler.style(tokens);
        }
    }
}
