package {{shared.languageProject.packageId}};

import mb.esv.common.ESVStylingRules;
import org.checkerframework.checker.nullness.qual.Nullable;

import java.io.IOException;
import java.io.InputStream;
import java.io.Serializable;

public class {{genRulesClass}} implements Serializable {
    final ESVStylingRules stylingRules;

    private {{genRulesClass}}(ESVStylingRules stylingRules) {
        this.stylingRules = stylingRules;
    }

    public static {{genRulesClass}} fromClassLoaderResources() {
        final String resource = "{{packedESVTargetRelPath}}";
        try(final @Nullable InputStream inputStream = {{genRulesClass}}.class.getClassLoader().getResourceAsStream(resource)) {
            if(inputStream == null) {
                throw new RuntimeException("Cannot create styling rules; cannot find resource '" + resource + "' in classloader resources");
            }
            final ESVStylingRules stylingRules = ESVStylingRules.fromStream(inputStream);
            return new {{genRulesClass}}(stylingRules);
        } catch(IOException e) {
            throw new RuntimeException("Cannot create styling rules; cannot read styling rules from '" + resource + "' in classloader resources", e);
        }
    }
}
