package {{languageProject.packageId}};

import mb.log.api.LoggerFactory;
import mb.spoofax.compiler.interfaces.spoofaxcore.StylerFactory;

public class {{genStylerFactoryClass}} implements StylerFactory {
    private final {{genStylingRulesClass}} stylingRules;
    private final LoggerFactory loggerFactory;

    public {{genStylerFactoryClass}}(LoggerFactory loggerFactory) {
        this.stylingRules = {{genStylingRulesClass}}.fromClassLoaderResources();
        this.loggerFactory = loggerFactory;
    }

    @Override public {{genStylerClass}} create() {
        return new {{genStylerClass}}(stylingRules, loggerFactory);
    }
}
