package {{languageProject.packageId}};

import mb.log.api.LoggerFactory;
import mb.spoofax.compiler.interfaces.spoofaxcore.StylerFactory;

public class {{genFactoryClass}} implements StylerFactory {
    private final {{genRulesClass}} stylingRules;
    private final LoggerFactory loggerFactory;

    public {{genFactoryClass}}(LoggerFactory loggerFactory) {
        this.stylingRules = {{genRulesClass}}.fromClassLoaderResources();
        this.loggerFactory = loggerFactory;
    }

    @Override public {{genStylerClass}} create() {
        return new {{genStylerClass}}(stylingRules, loggerFactory);
    }
}
