package {{languageProject.packageId}};

import mb.spoofax.compiler.interfaces.spoofaxcore.ParserFactory;

public class {{genFactoryClass}} implements ParserFactory {
    private final {{genTableClass}} parseTable;

    public {{genFactoryClass}}() {
        this.parseTable = {{genTableClass}}.fromClassLoaderResources();
    }

    @Override public {{genParserClass}} create() {
        return new {{genParserClass}}(parseTable);
    }
}
