package {{genFactoryClass.packageId}};

import mb.spoofax.compiler.interfaces.spoofaxcore.ParserFactory;

public class {{genFactoryClass.id}} implements ParserFactory {
    private final {{genTableClass.id}} parseTable;

    public {{genFactoryClass.id}}() {
        this.parseTable = {{genTableClass.id}}.fromClassLoaderResources();
    }

    @Override public {{genParserClass.id}} create() {
        return new {{genParserClass.id}}(parseTable);
    }
}
