package {{baseConstraintAnalyzerFactory.packageId}};

import mb.resource.ResourceService;
import mb.spoofax.compiler.interfaces.spoofaxcore.ConstraintAnalyzerFactory;

public class {{baseConstraintAnalyzerFactory.id}} implements ConstraintAnalyzerFactory {
    private final ResourceService resourceService;

    public {{baseConstraintAnalyzerFactory.id}}(ResourceService resourceService) {
        this.resourceService = resourceService;
    }

    @Override public {{baseConstraintAnalyzer.qualifiedId}} create() {
        return new {{baseConstraintAnalyzer.qualifiedId}}(resourceService);
    }
}
