package {{baseConstraintAnalyzer.packageId}};

import mb.constraint.common.ConstraintAnalyzer;
import mb.log.api.LoggerFactory;
import mb.resource.ResourceService;
import mb.stratego.common.StrategoRuntime;

public class {{baseConstraintAnalyzer.id}} extends ConstraintAnalyzer {
    public {{baseConstraintAnalyzer.id}}(ResourceService resourceService) {
        super(resourceService, "{{strategoStrategy}}", {{multiFile}});
    }
}
