package {{genFactory.packageId}};

import mb.resource.ResourceService;
import mb.spoofax.compiler.interfaces.spoofaxcore.ConstraintAnalyzerFactory;

public class {{genFactory.id}} implements ConstraintAnalyzerFactory {
    private final ResourceService resourceService;

    public {{genFactory.id}}(ResourceService resourceService) {
        this.resourceService = resourceService;
    }

    @Override public {{genConstraintAnalyzer.qualifiedId}} create() {
        return new {{genConstraintAnalyzer.qualifiedId}}(resourceService);
    }
}
