package {{genFactory.packageId}};

import mb.log.api.LoggerFactory;
import mb.resource.ResourceService;
import mb.spoofax.compiler.interfaces.spoofaxcore.ConstraintAnalyzerFactory;
import mb.stratego.common.StrategoRuntime;

public class {{genFactory.id}} implements ConstraintAnalyzerFactory {
    private final LoggerFactory loggerFactory;
    private final ResourceService resourceService;
    private final StrategoRuntime strategoRuntime;

    public {{genFactory.id}}(LoggerFactory loggerFactory, ResourceService resourceService, StrategoRuntime strategoRuntime) {
        this.loggerFactory = loggerFactory;
        this.resourceService = resourceService;
        this.strategoRuntime = strategoRuntime;
    }

    @Override public {{genConstraintAnalyzer.qualifiedId}} create() {
        return new {{genConstraintAnalyzer.qualifiedId}}(loggerFactory, resourceService, strategoRuntime);
    }
}
