plugins {
  id("org.metaborg.gradle.config.java-library")
}

group = "{{shared.adapterProject.coordinate.groupId}}"
version = "{{shared.adapterProject.coordinate.version}}"

sourceSets {
  main {
    java {
      srcDir("$buildDir/generated/sources/spoofax/java")
    }
    resources {
      srcDir("$buildDir/generated/sources/spoofax/resources")
    }
  }
}

dependencies {
{{#dependencyCodes}}
  {{this}}
{{/dependencyCodes}}
}
