package {{checkTaskDef.packageId}};

import mb.common.message.KeyedMessages;
import mb.common.message.KeyedMessagesBuilder;
import mb.constraint.common.ConstraintAnalyzer.SingleFileResult;
import mb.jsglr1.common.JSGLR1ParseResult;
import mb.pie.api.ExecContext;
import mb.pie.api.TaskDef;
import mb.resource.ResourceKey;
import org.checkerframework.checker.nullness.qual.Nullable;

import {{parser.parseTaskDef.qualifiedId}};
{{#constraintAnalyzer}}
import {{this.analyzeTaskDef.qualifiedId}};
{{/constraintAnalyzer}}

import javax.inject.Inject;

public class {{checkTaskDef.id}} implements TaskDef<ResourceKey, KeyedMessages> {
    private final {{parser.parseTaskDef.id}} parse;
{{#constraintAnalyzer}}
    private final {{this.analyzeTaskDef.id}} analyze;
{{/constraintAnalyzer}}

    @Inject public {{checkTaskDef.id}}(
      {{parser.parseTaskDef.id}} parse{{#constraintAnalyzer}},
      {{this.analyzeTaskDef.id}} analyze
{{/constraintAnalyzer}}
    ) {
        this.parse = parse;
{{#constraintAnalyzer}}
        this.analyze = analyze;
{{/constraintAnalyzer}}
    }

    @Override public String getId() {
        return "{{checkTaskDef.qualifiedId}}";
    }

    @Override public KeyedMessages exec(ExecContext context, ResourceKey key) throws Exception {
        final KeyedMessagesBuilder builder = new KeyedMessagesBuilder();
        final JSGLR1ParseResult parseResult = context.require(parse, key);
        builder.addMessages(key, parseResult.getMessages());
{{#constraintAnalyzer}}
        final @Nullable SingleFileResult analysisResult = context.require(analyze, key);
        if(analysisResult != null) {
            builder.addMessages(key, analysisResult.messages);
        }
{{/constraintAnalyzer}}
        return builder.build();
    }
}
