CliCommand.of(
    "{{name}}",
{{#description}}
    "{{this}}",
{{/description}}
{{^description}}
    null,
{{/description}}
{{#commandDefType}}
    {{#getInjectedCommandDef}}{{/getInjectedCommandDef}},
{{/commandDefType}}
{{^commandDefType}}
    null,
{{/commandDefType}}
    ListView.of(
{{#params}}
        {{toJavaCode}}{{^-last}},{{/-last}}
{{/params}}
    ),
    ListView.of(
{{#subCommands}}
        {{>adapter_project/CliCommand.mustache}}{{^-last}},{{/-last}}
{{/subCommands}}
    )
)
