package {{baseClassLoaderResources.packageId}};

import mb.resource.common.ClassLoaderResources;
import mb.resource.classloader.ClassLoaderUrlResolver;
import mb.resource.classloader.ClassLoaderToNativeResolver;

public class {{baseClassLoaderResources.id}} extends ClassLoaderResources {
    public {{baseClassLoaderResources.id}}(ClassLoaderUrlResolver urlResolver, ClassLoaderToNativeResolver toNativeResolver) {
        super("{{qualifier}}", {{baseClassLoaderResources.id}}.class.getClassLoader(), urlResolver, toNativeResolver, "{{languageProject.packagePath}}");
    }
}
