module main

imports

  strategolib
  statixruntime
  statix/api
  injections/-
  signatures/-
  pp
  completion

rules // Analysis

  pre-analyze  = explicate-injections-{{ppName}}-Start
  post-analyze = implicate-injections-{{ppName}}-Start

{{#multiFileAnalysis}}
  editor-analyze = stx-editor-analyze(pre-analyze, post-analyze|"main", "projectOk", "fileOk")
{{/multiFileAnalysis}}
{{^multiFileAnalysis}}
  editor-analyze = stx-editor-analyze(pre-analyze, post-analyze|"main", "programOk")
{{/multiFileAnalysis}}
  editor-resolve = stx-editor-resolve
  editor-hover   = stx-editor-hover
