module main

imports

  signatures/start-sig

rules

{{#multiFileAnalysis}}
  projectOk : scope
  projectOk(s).

  fileOk : scope * Start
  fileOk(s, _).
{{/multiFileAnalysis}}
{{^multiFileAnalysis}}
  programOk : Start
  programOk(_).
{{/multiFileAnalysis}}
