module main

imports

  signatures/start-sig

rules

{{#multiFileAnalysis}}
  projectOk : scope
  projectOk(s).

  fileOk : scope * Start
  fileOk(s, Empty()).
{{/multiFileAnalysis}}
{{^multiFileAnalysis}}
  programOk : Start
  programOk(Empty()).
{{/multiFileAnalysis}}
