name = "{{name}}"
java-class-id-prefix = java {{javaClassIdPrefix}}
{{#fileExtensions}}
file-extension = "{{this}}"
{{/fileExtensions}}

sdf3 {}
esv {}
statix {}
stratego {}

parser {
  default-start-symbol = Start
}
styler {}
{{#multiFileAnalysis}}
constraint-analyzer {
  multi-file = true
}
{{/multiFileAnalysis}}
{{^multiFileAnalysis}}
constraint-analyzer {}
{{/multiFileAnalysis}}
stratego-runtime {}
