module start

context-free start-symbols

  Start

context-free sorts

  Start

context-free syntax

  Start.Empty = <>

lexical syntax

  LAYOUT = [\ \n\t\v\f\r]

context-free restrictions

  LAYOUT? -/- [\ \n\t\v\f\r]
