# macOS
*.DS_Store

# Java
*.class
*.jar
hs_err_pid*

# Python
__pycache__/

# Gradle
**/.gradle
**/build/
!.gradlew/wrapper/gradle-wrapper.jar

# IntelliJ
**/.idea
**/out

# Eclipse
**/.settings
**/.factorypath
**/bin

# Spoofax
**/src-gen
**/target

# Eclipse Runner
Eclipse.app/
