# macOS
*.DS_Store

# Java
*.class
*.jar
hs_err_pid*

# Python
__pycache__/

# Gradle
**/.gradle
**/build/
!gradle/wrapper/*

# IntelliJ
**/.idea
**/out

# Eclipse
**/.project
**/.settings
**/.classpath
**/.factorypath
**/bin

# Spoofax
**/src-gen
**/target

# Eclipse Runner
Eclipse.app/
