<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <!--             -->
  <!-- Spoofax LWB -->
  <!--             -->

  <!-- Lifecycle participant -->
  <extension point="spoofax.eclipse.lifecycle">
    <participant group="mb.spoofax.lwb" class="mb.spoofax.lwb.eclipse.SpoofaxLwbLifecycleParticipant$Factory"/>
  </extension>

  <!-- CFG component customizer -->
  <extension point="cfg.eclipse.component">
    <customizer class="mb.spoofax.lwb.eclipse.dynamicloading.DynamicCfgComponentCustomizer"/>
  </extension>

  <!-- Nature and commands -->
  <extension
    id="nature"
    name="Spoofax LWB nature"
    point="org.eclipse.core.resources.natures"
  >
    <runtime>
      <run class="mb.spoofax.lwb.eclipse.SpoofaxLwbNature"/>
    </runtime>
    <builder id="spoofax.lwb.eclipse.builder"/>
  </extension>
  <extension point="org.eclipse.ui.commands">
    <command id="spoofax.lwb.eclipse.nature.add" name="Add Spoofax LWB nature"/>
    <command id="spoofax.lwb.eclipse.nature.remove" name="Remove Spoofax LWB nature"/>
  </extension>
  <extension point="org.eclipse.ui.handlers">
    <handler
      commandId="spoofax.lwb.eclipse.nature.add"
      class="mb.spoofax.lwb.eclipse.SpoofaxLwbNature$AddHandler"
    />
    <handler
      commandId="spoofax.lwb.eclipse.nature.remove"
      class="mb.spoofax.lwb.eclipse.SpoofaxLwbNature$RemoveHandler"
    />
  </extension>

  <!-- Builder -->
  <extension
    point="org.eclipse.core.resources.builders"
    name="Spoofax LWB builder"
    id="builder"
  >
    <builder
      hasNature="true"
      isConfigurable="true"
      callOnEmptyDelta="false"
      supportsConfigurations="false"
    >
      <run class="mb.spoofax.lwb.eclipse.SpoofaxLwbBuilder"/>
    </builder>
  </extension>

  <!-- Menus -->
  <extension point="org.eclipse.ui.menus">
    <!-- Project Explorer context menu -->
    <menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
      <dynamic id="spoofax.lwb.eclipse.resource" class="mb.spoofax.lwb.eclipse.ResourceContextMenu"/>
    </menuContribution>
    <!-- Package Explorer context menu -->
    <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
      <dynamic id="spoofax.lwb.eclipse.resource" class="mb.spoofax.lwb.eclipse.ResourceContextMenu"/>
    </menuContribution>
  </extension>

  <!-- New project wizard -->
  <extension point="org.eclipse.ui.newWizards">
    <category
      id="spoofax.lwb.eclipse.newwizard.category"
      name="Spoofax LWB"
    >
    </category>
    <wizard
      id="spoofax.lwb.eclipse.newwizard.generateLanguageProject"
      name="Spoofax language project"
      category="spoofax.lwb.eclipse.newwizard.category"
      project="true"
      hasPages="true"
      class="mb.spoofax.lwb.eclipse.generator.LanguageProjectWizard"
    >
    </wizard>
  </extension>



  <!--                        -->
  <!-- Dynamic language shims -->
  <!--                        -->

  <!-- Context -->
  <extension point="org.eclipse.ui.contexts">
    <context
      id="spoofax.lwb.eclipse.dynamicloading.context"
      parentId="org.eclipse.ui.textEditorScope"
      name="Editing Spoofax dynamic files"
      description="Editing Spoofax dynamic files"
    />
  </extension>


  <!-- Editor -->
  <extension point="org.eclipse.ui.editors">
    <editor
      name="Spoofax dynamic editor"
      class="mb.spoofax.lwb.eclipse.dynamicloading.DynamicEditor"
      id="spoofax.lwb.eclipse.dynamicloading.editor"
    />
  </extension>


  <!-- Markers -->
  <!-- Base -->
  <extension
    point="org.eclipse.core.resources.markers"
    id="spoofax.lwb.eclipse.dynamicloading.marker"
    name="Spoofax dynamic marker"
  >
    <super type="org.eclipse.core.resources.textmarker"/>
    <super type="org.eclipse.core.resources.problemmarker"/>
    <persistent value="true"/>
  </extension>
  <!-- Info -->
  <extension
    point="org.eclipse.core.resources.markers"
    id="spoofax.lwb.eclipse.dynamicloading.marker.info"
    name="Spoofax dynamic info marker"
  >
    <super type="spoofax.lwb.eclipse.dynamicloading.marker"/>
    <persistent value="true"/>
  </extension>
  <!-- Warning -->
  <extension
    point="org.eclipse.core.resources.markers"
    id="spoofax.lwb.eclipse.dynamicloading.marker.warning"
    name="Spoofax dynamic warning marker"
  >
    <super type="spoofax.lwb.eclipse.dynamicloading.marker"/>
    <persistent value="true"/>
  </extension>
  <!-- Error -->
  <extension
    point="org.eclipse.core.resources.markers"
    id="spoofax.lwb.eclipse.dynamicloading.marker.error"
    name="Spoofax dynamic error marker"
  >
    <super type="spoofax.lwb.eclipse.dynamicloading.marker"/>
    <persistent value="true"/>
  </extension>


  <!-- Annotations -->
  <extension point="org.eclipse.ui.editors.annotationTypes">
    <!-- Info -->
    <type
      markerType="spoofax.lwb.eclipse.dynamicloading.marker.info"
      super="org.eclipse.ui.workbench.texteditor.info"
      markerSeverity="0"
      name="Spoofax dynamic info annotation"
    />
    <!-- Warning -->
    <type
      markerType="spoofax.lwb.eclipse.dynamicloading.marker.warning"
      super="org.eclipse.ui.workbench.texteditor.warning"
      markerSeverity="1"
      name="Spoofax dynamic warning annotation"
    />
    <!-- Error -->
    <type
      markerType="spoofax.lwb.eclipse.dynamicloading.marker.error"
      super="org.eclipse.ui.workbench.texteditor.error"
      markerSeverity="2"
      name="Spoofax dynamic error annotation"
    />
  </extension>


  <!-- Builder -->
  <extension
    point="org.eclipse.core.resources.builders"
    name="Spoofax dynamic builder"
    id="dynamicloading.builder"
  >
    <builder
      hasNature="true"
      isConfigurable="false"
      callOnEmptyDelta="false"
      supportsConfigurations="false"
    >
      <run class="mb.spoofax.lwb.eclipse.dynamicloading.DynamicProjectBuilder"/>
    </builder>
  </extension>


  <!-- Nature -->
  <extension
    point="org.eclipse.core.resources.natures"
    name="Spoofax dynamic nature"
    id="dynamicloading.nature"
  >
    <runtime>
      <run class="mb.spoofax.lwb.eclipse.dynamicloading.DynamicNature"/>
    </runtime>
    <builder id="spoofax.lwb.eclipse.dynamicloading.builder"/>
  </extension>


  <!-- Menus -->
  <extension point="org.eclipse.ui.menus">
    <!-- Project Explorer context menu -->
    <menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
      <dynamic id="spoofax.lwb.eclipse.dynamicloading.menu.resource.context"
               class="mb.spoofax.lwb.eclipse.dynamicloading.DynamicResourceContextMenu"/>
    </menuContribution>
    <!-- Package Explorer context menu -->
    <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
      <dynamic id="spoofax.lwb.eclipse.dynamicloading.menu.resource.context"
               class="mb.spoofax.lwb.eclipse.dynamicloading.DynamicResourceContextMenu"/>
    </menuContribution>
    <!-- Editor context menu -->
    <menuContribution locationURI="popup:#SpoofaxEditorContext?after=additions">
      <dynamic id="spoofax.lwb.eclipse.dynamicloading.menu.editor.context"
               class="mb.spoofax.lwb.eclipse.dynamicloading.DynamicEditorContextMenu"/>
    </menuContribution>
    <!-- Main menu -->
    <menuContribution locationURI="menu:org.eclipse.ui.main.menu">
      <menu id="spoofax.lwb.eclipse.dynamicloading.menu.main" label="Spoofax">
        <dynamic id="spoofax.lwb.eclipse.dynamicloading.menu.main.dynamic"
                 class="mb.spoofax.lwb.eclipse.dynamicloading.DynamicMainMenu"/>
        <visibleWhen>
          <with variable="activeContexts">
            <iterate ifEmpty="false" operator="or">
              <equals value="spoofax.lwb.eclipse.dynamicloading.context"/>
            </iterate>
          </with>
        </visibleWhen>
      </menu>
    </menuContribution>
  </extension>


  <!-- Commands and Handlers -->
  <!-- Add/Remove Nature -->
  <extension point="org.eclipse.ui.commands">
    <command id="spoofax.lwb.eclipse.dynamicloading.nature.add" name="Add Spoofax dynamic nature"/>
    <command id="spoofax.lwb.eclipse.dynamicloading.nature.remove" name="Remove Spoofax dynamic nature"/>
  </extension>
  <extension point="org.eclipse.ui.handlers">
    <handler
      commandId="spoofax.lwb.eclipse.dynamicloading.nature.add"
      class="mb.spoofax.lwb.eclipse.dynamicloading.DynamicNature$AddHandler"
    />
    <handler
      commandId="spoofax.lwb.eclipse.dynamicloading.nature.remove"
      class="mb.spoofax.lwb.eclipse.dynamicloading.DynamicNature$RemoveHandler"
    />
  </extension>
  <!-- Transform -->
  <extension point="org.eclipse.ui.commands">
    <command id="spoofax.lwb.eclipse.dynamicloading.runcommand" name="Run Spoofax dynamic command">
      <commandParameter id="languageId" name="Language ID" optional="false"/>
      <commandParameter id="data" name="Data" optional="false"/>
    </command>
  </extension>
  <extension point="org.eclipse.ui.handlers">
    <handler
      commandId="spoofax.lwb.eclipse.dynamicloading.runcommand"
      class="mb.spoofax.lwb.eclipse.dynamicloading.DynamicRunCommandHandler"
    />
  </extension>

  <!-- View -->
  <extension point="org.eclipse.ui.views">
    <view
      class="mb.spoofax.lwb.eclipse.testrunner.TestRunViewPart"
      id="mb.spoofax.lwb.eclipse.testrunner.testrunviewpart"
      name="SPT Test Runner"
    />
  </extension>

<!--  &lt;!&ndash; SPT commands and menus &ndash;&gt;-->
<!--  <extension point="org.eclipse.ui.commands">-->
<!--    <command-->
<!--      defaultHandler="mb.spoofax.lwb.eclipse.testrunner.RunAllHandler"-->
<!--      id="mb.spoofax.lwb.eclipse.testrunner.command.runall"-->
<!--      name="Run all SPT tests"-->
<!--    />-->
<!--    <command-->
<!--      defaultHandler="mb.spoofax.lwb.eclipse.testrunner.RunOneHandler"-->
<!--      id="mb.spoofax.lwb.eclipse.testrunner.command.runone"-->
<!--      name="Run one SPT test"-->
<!--    />-->
<!--  </extension>-->

<!--  <extension point="org.eclipse.ui.menus">-->
<!--    <menuContribution-->
<!--      allPopups="true"-->
<!--      locationURI="menu:org.metaborg.spoofax.eclipse.meta.menu.main?after=org.metaborg.spoofax.eclipse.meta.separator.additions"-->
<!--    >-->
<!--      <command-->
<!--        commandId="mb.spoofax.lwb.eclipse.testrunner.command.runone"-->
<!--        label="Run selected test"-->
<!--        style="push"-->
<!--      />-->
<!--      <command-->
<!--        commandId="mb.spoofax.lwb.eclipse.testrunner.command.runall"-->
<!--        label="Run all selected tests"-->
<!--        style="push"-->
<!--      />-->
<!--      <separator name="org.metaborg.spt.testrunner.eclipse.separator" visible="true" />-->
<!--    </menuContribution>-->
<!--  </extension>-->
</plugin>
