<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <!-- Editor -->
  <extension point="org.eclipse.ui.editors">
    <editor
      name="Tiger editor"
      extensions="tig"
      class="mb.tiger.eclipse.TigerEditor"
      id="tiger.eclipse.editor"
    />
  </extension>

  <!-- Document Provider -->
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider
      extensions="tig"
      class="mb.tiger.eclipse.TigerDocumentProvider"
      id="tiger.eclipse.documentprovider"
    />
  </extension>

  <!-- Builder -->
  <extension
    point="org.eclipse.core.resources.builders"
    name="Tiger builder"
    id="builder"
  >
    <builder
      hasNature="true"
      isConfigurable="false"
      callOnEmptyDelta="false"
      supportsConfigurations="false"
    >
      <run class="mb.tiger.eclipse.TigerProjectBuilder"/>
    </builder>
  </extension>

  <!-- Nature -->
  <extension
    point="org.eclipse.core.resources.natures"
    name="Tiger nature"
    id="nature"
  >
    <runtime>
      <run class="mb.tiger.eclipse.TigerProjectNature"/>
    </runtime>
    <builder id="tiger.eclipse.builder"/>
  </extension>


  <!-- Menus -->
  <!-- Context menu -->
  <extension point="org.eclipse.ui.menus">
    <!-- Project Explorer -->
    <menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
      <dynamic id="tiger.eclipse.menu.context" class="mb.tiger.eclipse.TigerContextMenu"/>
    </menuContribution>
    <!-- Package Explorer -->
    <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
      <dynamic id="tiger.eclipse.menu.context" class="mb.tiger.eclipse.TigerContextMenu"/>
    </menuContribution>
  </extension>


  <!-- Commands and Handlers -->
  <!-- Add/Remove Nature -->
  <extension point="org.eclipse.ui.commands">
    <command id="tiger.eclipse.nature.add" name="Add Tiger nature"/>
    <command id="tiger.eclipse.nature.remove" name="Remove Tiger nature"/>
  </extension>
  <extension point="org.eclipse.ui.handlers">
    <handler
      commandId="tiger.eclipse.nature.add"
      class="mb.tiger.eclipse.TigerAddNatureHandler"
    />
    <handler
      commandId="tiger.eclipse.nature.remove"
      class="mb.tiger.eclipse.TigerRemoveNatureHandler"
    />
  </extension>
  <!-- Observe/Unobserve -->
  <extension point="org.eclipse.ui.commands">
    <command id="tiger.eclipse.observe" name="Observe file(s)"/>
    <command id="tiger.eclipse.unobserve" name="Unobserve file(s)"/>
  </extension>
  <extension point="org.eclipse.ui.handlers">
    <handler
      commandId="tiger.eclipse.observe"
      class="mb.tiger.eclipse.TigerObserveHandler"
    />
    <handler
      commandId="tiger.eclipse.unobserve"
      class="mb.tiger.eclipse.TigerUnobserveHandler"
    />
  </extension>
</plugin>
