plugins {
  id("org.metaborg.gradle.config.root-project") version "{{shared.metaborgGradleConfigVersion}}"

  // Set versions for plugins to use, only applying them in subprojects (apply false here).
  id("org.metaborg.coronium.bundle") version "{{shared.metaborgCoroniumVersion}}" apply false
  id("org.metaborg.coronium.embedding") version "{{shared.metaborgCoroniumVersion}}" apply false
  id("biz.aQute.bnd.builder") version "{{shared.bndPluginVersion}}" apply false
  id("org.jetbrains.intellij") version "{{shared.intellijGradlePluginVersion}}" apply false
}

group = "{{project.coordinate.groupId}}"
version = "{{project.coordinate.version}}"

subprojects {
  metaborg {
    configureSubProject()
  }
}

allprojects {
  repositories {
  {{#repositoryCodes}}
    {{this}}
  {{/repositoryCodes}}
  }
}
