rootProject.name = "{{shared.rootProject.coordinate.artifactId}}"

pluginManagement {
repositories {
{{#pluginRepositoryCodes}}
  {{this}}
{{/pluginRepositoryCodes}}
}
}

{{#includedProjects}}
include("{{this}}")
{{/includedProjects}}
