<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <!-- Startup -->
  <extension point="org.eclipse.ui.startup">
    <startup class="mb.pipe.run.eclipse.PipePlugin"/>
  </extension>

  
  <!-- Editor -->
  <extension point="org.eclipse.ui.editors">
    <editor
      id="mb.pipe.run.eclipse.editor"
      name="Pipeline editor"
      icon="icons/editor.gif"
      contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
      class="mb.pipe.run.eclipse.editor.PipeEditor"
      extensions="min"
    />
  </extension>
  <!-- Editor context -->
  <extension point="org.eclipse.ui.contexts">
    <context 
      id="mb.pipe.run.eclipse.editor.context" 
      parentId="org.eclipse.ui.textEditorScope"
      name="Editing pipeline files"
      description="Editing pipeline files"
    />
  </extension>


  <!-- Nature, builder, and support commands -->
  <!-- Language specifications -->
  <extension
    point="org.eclipse.core.resources.natures"
    id="mb.pipe.run.eclipse.nature.langspec"
    name="Pipeline language specification nature"
  >
    <runtime>
      <run class="mb.pipe.run.eclipse.nature.PipeLangSpecNature"/>
    </runtime>
    <builder id="mb.pipe.run.eclipse.builder.langspec" />
  </extension>
  <extension
    point="org.eclipse.core.resources.builders"
    id="mb.pipe.run.eclipse.builder.langspec"
    name="Pipeline language specification builder"
  >
    <builder
      callOnEmptyDelta="false"
      hasNature="true"
      isConfigurable="false"
      supportsConfigurations="false"
    >
      <run class="mb.pipe.run.eclipse.build.PipeLangSpecProjectBuilder"/>
    </builder>
  </extension>
  <extension point="org.eclipse.ui.commands">
    <command id="mb.pipe.run.eclipse.command.nature.langspec.add" name="Add pipeline language specification nature"/>
    <command id="mb.pipe.run.eclipse.command.nature.langspec.remove" name="Remove pipeline language specification nature"/>
  </extension>  
   <extension point="org.eclipse.ui.handlers">
    <handler
      commandId="mb.pipe.run.eclipse.command.nature.langspec.add"
      class="mb.pipe.run.eclipse.nature.AddLangSpecNatureHandler"
    />
    <handler
      commandId="mb.pipe.run.eclipse.command.nature.langspec.remove"
      class="mb.pipe.run.eclipse.nature.RemoveLangSpecNatureHandler"
    />
  </extension>
  <!-- Programs -->
  <extension
    point="org.eclipse.core.resources.natures"
    id="mb.pipe.run.eclipse.nature.program"
    name="Pipeline program nature"
  >
    <runtime>
      <run class="mb.pipe.run.eclipse.nature.PipeProgramNature"/>
    </runtime>
    <builder id="mb.pipe.run.eclipse.builder.program" />
  </extension>
  <extension
    point="org.eclipse.core.resources.builders"
    id="mb.pipe.run.eclipse.builder.program"
    name="Pipeline program builder"
  >
    <builder
      callOnEmptyDelta="false"
      hasNature="true"
      isConfigurable="false"
      supportsConfigurations="false"
    >
      <run class="mb.pipe.run.eclipse.build.PipeProgramProjectBuilder"/>
    </builder>
  </extension>
  <extension point="org.eclipse.ui.commands">
    <command id="mb.pipe.run.eclipse.command.nature.program.add" name="Add pipeline program nature"/>
    <command id="mb.pipe.run.eclipse.command.nature.program.remove" name="Remove pipeline program nature"/>
  </extension>  
   <extension point="org.eclipse.ui.handlers">
    <handler
      commandId="mb.pipe.run.eclipse.command.nature.program.add"
      class="mb.pipe.run.eclipse.nature.AddProgramNatureHandler"
    />
    <handler
      commandId="mb.pipe.run.eclipse.command.nature.program.remove"
      class="mb.pipe.run.eclipse.nature.RemoveProgramNatureHandler"
    />
  </extension>
  
  
  <!-- Project context menu -->
  <extension point="org.eclipse.ui.menus">
    <!-- Package Explorer -->
    <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
      <menu id="mb.pipe.run.eclipse.menu.project" label="Pipeline"/>
    </menuContribution>
    <!-- Project Explorer -->
    <menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
      <menu id="mb.pipe.run.eclipse.menu.project" label="Pipeline"/>
    </menuContribution>
    
    <!-- Commands -->
    <menuContribution locationURI="popup:mb.pipe.run.eclipse.menu.project?after=additions">
      <command commandId="mb.pipe.run.eclipse.command.nature.langspec.add"/>
      <command commandId="mb.pipe.run.eclipse.command.nature.langspec.remove"/>
      <separator name="internal-separator1" visible="true"/>
      <command commandId="mb.pipe.run.eclipse.command.nature.program.add"/>
      <command commandId="mb.pipe.run.eclipse.command.nature.program.remove"/>
    </menuContribution>
  </extension>
  
  
  <!-- Markers -->
  <extension
    point="org.eclipse.core.resources.markers"
    id="mb.pipe.run.eclipse.marker"
  >
    <super type="org.eclipse.core.resources.textmarker" />
    <super type="org.eclipse.core.resources.problemmarker" />
    <persistent value="true" />
  </extension>
  <extension
    point="org.eclipse.core.resources.markers"
    id="mb.pipe.run.eclipse.marker.info"
    name="Pipeline info marker"
  >
    <super type="mb.pipe.run.eclipse.marker"/>
    <persistent value="true" />
  </extension>
  <extension
    point="org.eclipse.core.resources.markers"
    id="mb.pipe.run.eclipse.marker.warning"
    name="Pipeline warning marker"
  >
    <super type="mb.pipe.run.eclipse.marker"/>
    <persistent value="true" />
  </extension>
  <extension
    point="org.eclipse.core.resources.markers"
    id="mb.pipe.run.eclipse.marker.error"
    name="Pipeline error marker"
  >
    <super type="mb.pipe.run.eclipse.marker"/>
    <persistent value="true" />
  </extension>
  <extension point="org.eclipse.ui.editors.annotationTypes">
    <type
      markerType="mb.pipe.run.eclipse.marker.info"
      super="org.eclipse.ui.workbench.texteditor.info"
      markerSeverity="0"
      name="Pipeline info annotation"
    />
    <type
      markerType="mb.pipe.run.eclipse.marker.warning"
      super="org.eclipse.ui.workbench.texteditor.warning"
      markerSeverity="1"
      name="Pipeline warning annotation"
    />
    <type
      markerType="mb.pipe.run.eclipse.marker.error"
      super="org.eclipse.ui.workbench.texteditor.error"
      markerSeverity="2"
      name="Pipeline error annotation"
    />
  </extension>
</plugin>
