package {{baseComponent.packageId}};

import dagger.Component;
import mb.resource.dagger.ResourceServiceComponent;
import mb.spoofax.intellij.IntellijLanguageComponent;
import mb.spoofax.intellij.IntellijPlatformComponent;
import mb.spoofax.intellij.log.IntellijLoggerComponent;
{{#adapterProjectCompilerInput.tegoRuntime}}
import mb.tego.strategies.TegoComponent;
{{/adapterProjectCompilerInput.tegoRuntime}}

@{{adapterProjectCompilerInput.scope.qualifiedId}}
@Component(
    modules = {
        {{adapterProjectCompilerInput.module.qualifiedId}}.class,
        {{module.qualifiedId}}.class{{#adapterProjectCompilerInput.additionalModules}}{{#-first}}, {{/-first}}
        {{qualifiedId}}.class{{^-last}},
{{/-last}}{{/adapterProjectCompilerInput.additionalModules}}
    },
    dependencies = {
        IntellijLoggerComponent.class,
        {{adapterProjectCompilerInput.resourcesComponent.qualifiedId}}.class,
        ResourceServiceComponent.class,
        IntellijPlatformComponent.class{{#adapterProjectCompilerInput.tegoRuntime}},
        TegoComponent.class{{/adapterProjectCompilerInput.tegoRuntime}}
    }
)
public interface {{baseComponent.id}} extends IntellijLanguageComponent, {{adapterProjectCompilerInput.component.qualifiedId}} {
    @Override {{language.qualifiedId}} getLanguage();

    @Override {{fileType.qualifiedId}} getFileType();

    @Override {{fileElementType.qualifiedId}} getFileElementType();
}
