package {{genFileElementType.packageId}};

import mb.spoofax.intellij.IntellijFileElementType;

import javax.inject.Inject;

@{{adapterProjectCompilerInput.scope.qualifiedId}}
public class {{genFileElementType.id}} extends IntellijFileElementType {
    @Inject public {{genFileElementType.id}}() {
        super({{plugin.qualifiedId}}.getComponent());
    }
}
