package {{fileType.packageId}};

import mb.spoofax.intellij.IntellijLanguageFileType;

import javax.inject.Inject;

@{{adapterProjectCompilerInput.scope.qualifiedId}}
public class {{baseFileType.id}} extends IntellijLanguageFileType {
    @Inject protected {{baseFileType.id}}() {
        super({{plugin.qualifiedId}}.getComponent());
    }
}
