package {{baseFileTypeFactory.packageId}};

import mb.spoofax.intellij.IntellijFileTypeFactory;

public class {{baseFileTypeFactory.id}} extends IntellijFileTypeFactory {
    // Instantiated by IntelliJ.
    private {{baseFileTypeFactory.id}}() {
        super({{plugin.qualifiedId}}.getComponent());
    }
}
