package {{baseFileElementType.packageId}};

import mb.spoofax.intellij.IntellijFileElementType;

import javax.inject.Inject;

@{{adapterProjectCompilerInput.scope.qualifiedId}}
public class {{baseFileElementType.id}} extends IntellijFileElementType {
    @Inject public {{baseFileElementType.id}}() {
        super({{plugin.qualifiedId}}.getComponent());
    }
}
