package {{baseModule.packageId}};

import com.intellij.openapi.util.IconLoader;
import dagger.Module;
import dagger.Provides;
import mb.spoofax.intellij.IntellijLanguage;
import mb.spoofax.intellij.editor.SpoofaxLexerFactory;
import mb.spoofax.intellij.psi.SpoofaxTokenTypeManager;
import mb.spoofax.intellij.editor.ScopeManager;
import mb.spoofax.intellij.editor.SpoofaxSyntaxHighlighter;

import {{adapterProjectCompilerInput.scope.qualifiedId}};

import javax.swing.*;

@Module
public class {{baseModule.id}} {
    @Provides @{{adapterProjectCompilerInput.scope.id}}
    static IntellijLanguage provideSpoofaxLanguage({{language.qualifiedId}} language) {
        return language;
    }

    @Provides @{{adapterProjectCompilerInput.scope.id}}
    static Icon provideFileIcon() {
        return IconLoader.getIcon("META-INF/fileIcon.svg");
    }


    @Provides @{{adapterProjectCompilerInput.scope.id}}
    static SpoofaxLexerFactory provideLexerFactory({{lexerFactory.qualifiedId}} lexerFactory) {
        return lexerFactory;
    }

    @Provides @{{adapterProjectCompilerInput.scope.id}}
    static SpoofaxSyntaxHighlighter.Factory provideSyntaxHighlighterFactory(ScopeManager scopeManager) {
        return new SpoofaxSyntaxHighlighter.Factory(scopeManager); // TODO: generate language-specific class instead.
    }

    @Provides @{{adapterProjectCompilerInput.scope.id}}
    static SpoofaxTokenTypeManager provideTokenTypeManager(IntellijLanguage language) {
        return new SpoofaxTokenTypeManager(language); // TODO: generate language-specific class instead.
    }

    @Provides @{{adapterProjectCompilerInput.scope.id}}
    static ScopeManager provideScopeManager() {
        return new ScopeManager(); // TODO: generate language-specific class instead.
    }
}
