package {{baseSyntaxHighlighterFactory.packageId}};

import mb.spoofax.intellij.editor.SpoofaxSyntaxHighlighterFactory;

public class {{baseSyntaxHighlighterFactory.id}} extends SpoofaxSyntaxHighlighterFactory {
    // Instantiated by IntelliJ.
    private {{baseSyntaxHighlighterFactory.id}}() {
        super({{plugin.qualifiedId}}.getComponent());
    }
}
