package {{checkTaskDef.packageId}};

import mb.common.message.Messages;
import mb.common.message.MessagesBuilder;
import mb.constraint.common.ConstraintAnalyzer.SingleFileResult;
import mb.jsglr1.common.JSGLR1ParseResult;
import mb.pie.api.ExecContext;
import mb.pie.api.ExecException;
import mb.pie.api.ResourceStringSupplier;
import mb.pie.api.TaskDef;
import mb.resource.ResourceKey;
import mb.spoofax.core.language.LanguageScope;
import org.checkerframework.checker.nullness.qual.Nullable;

import javax.inject.Inject;

@LanguageScope
public class {{checkTaskDef.id}} implements TaskDef<ResourceKey, Messages> {
    private final {{parser.parseTaskDef.qualifiedId}} parse;
{{#constraintAnalyzer}}
    private final {{this.analyzeTaskDef.qualifiedId}} analyze;
{{/constraintAnalyzer}}

    @Inject public {{checkTaskDef.id}}(
      {{parser.parseTaskDef.qualifiedId}} parse{{#constraintAnalyzer}},
      {{this.analyzeTaskDef.qualifiedId}} analyze
{{/constraintAnalyzer}}
    ) {
        this.parse = parse;
{{#constraintAnalyzer}}
        this.analyze = analyze;
{{/constraintAnalyzer}}
    }

    @Override public String getId() {
        return "{{checkTaskDef.qualifiedId}}";
    }

    @Override public Messages exec(ExecContext context, ResourceKey key) throws ExecException, InterruptedException {
        final MessagesBuilder builder = new MessagesBuilder();
        final ResourceStringSupplier stringSupplier = new ResourceStringSupplier(key);
        final JSGLR1ParseResult parseResult = context.require(parse, stringSupplier);
        builder.addMessages(parseResult.getMessages());
{{#constraintAnalyzer}}
        final {{this.analyzeTaskDef.qualifiedId}}.@Nullable Output analysisOutput = context.require(analyze, new {{this.analyzeTaskDef.qualifiedId}}.Input(key, parse.createAstSupplier(stringSupplier)));
        if(analysisOutput != null) {
            builder.addMessages(analysisOutput.result.messages);
        }
{{/constraintAnalyzer}}
        return builder.build();
    }
}
