package {{genCheckTaskDef.packageId}};

import mb.common.message.KeyedMessages;
import mb.common.message.Messages;
import mb.common.message.KeyedMessagesBuilder;
import mb.common.message.MessagesBuilder;
import mb.constraint.common.ConstraintAnalyzer.SingleFileResult;
import mb.jsglr1.common.JSGLR1ParseOutput;
import mb.pie.api.ExecContext;
import mb.pie.api.ExecException;
import mb.pie.api.ResourceStringSupplier;
import mb.pie.api.TaskDef;
import mb.resource.ResourceKey;
import mb.spoofax.core.language.LanguageScope;
import org.checkerframework.checker.nullness.qual.Nullable;

import javax.inject.Inject;

@LanguageScope
public class {{genCheckTaskDef.id}} implements TaskDef<ResourceKey, Messages> {
    private final {{parser.parseTaskDef.qualifiedId}} parse;
{{#constraintAnalyzer}}
    private final {{this.analyzeTaskDef.qualifiedId}} analyze;
{{/constraintAnalyzer}}

    @Inject public {{genCheckTaskDef.id}}(
      {{parser.parseTaskDef.qualifiedId}} parse{{#constraintAnalyzer}},
      {{this.analyzeTaskDef.qualifiedId}} analyze
{{/constraintAnalyzer}}
    ) {
        this.parse = parse;
{{#constraintAnalyzer}}
        this.analyze = analyze;
{{/constraintAnalyzer}}
    }

    @Override public String getId() {
        return "{{genCheckTaskDef.qualifiedId}}";
    }

    @Override public Messages exec(ExecContext context, ResourceKey key) throws ExecException, InterruptedException {
        final MessagesBuilder messagesBuilder = new MessagesBuilder();
        final ResourceStringSupplier stringSupplier = new ResourceStringSupplier(key);
        final Messages parseMessages = context.require(parse.createMessagesSupplier(stringSupplier));
        builder.addMessages(parseMessages);
{{#constraintAnalyzer}}
        final {{this.analyzeTaskDef.qualifiedId}}.@Nullable Output analysisOutput = context.require(analyze, new {{this.analyzeTaskDef.qualifiedId}}.Input(key, parse.createRecoverableAstSupplier(stringProvider).map(Result::get)));
        if(analysisOutput != null) {
            messagesBuilder.addMessages(analysisOutput.result.messages);
        }
{{/constraintAnalyzer}}
        return messagesBuilder.build();
    }
}
