package {{genComponent.packageId}};

import dagger.Component;
import mb.spoofax.core.language.LanguageComponent;
import mb.spoofax.core.language.LanguageScope;
import mb.spoofax.core.platform.PlatformComponent;
{{#isMultiLang}}
import mb.statix.multilang.MultiLangComponent;
{{/isMultiLang}}

@LanguageScope
@Component(
    modules = {{genModule.id}}.class,
    dependencies = { PlatformComponent.class{{#isMultiLang}}, MultiLangComponent.class {{/isMultiLang}} }
)
public interface {{genComponent.id}} extends LanguageComponent {
    @Override {{genInstance.id}} getLanguageInstance();
}
