package {{genInstance.packageId}};

import mb.common.message.KeyedMessages;
import mb.common.message.Messages;
import mb.common.style.Styling;
import mb.common.token.Token;

import mb.common.region.Region;
import mb.common.util.CollectionView;
import mb.common.util.EntryView;
import mb.common.util.ListView;
import mb.common.util.MapView;
import mb.common.util.SetView;
import mb.completions.common.CompletionResult;
import mb.pie.api.Task;
import mb.pie.api.TaskDef;
import mb.resource.ResourceKey;
import mb.resource.ResourceKeyString;
import mb.resource.ResourceService;
import mb.resource.hierarchical.HierarchicalResource;
import mb.resource.hierarchical.ResourcePath;
import mb.resource.hierarchical.match.PathResourceMatcher;
import mb.resource.hierarchical.match.path.ExtensionsPathMatcher;
import mb.resource.hierarchical.match.path.NoHiddenPathMatcher;
import mb.resource.hierarchical.walk.PathResourceWalker;
import mb.spoofax.core.language.LanguageInstance;
import mb.spoofax.core.language.cli.CliCommand;
import mb.spoofax.core.language.cli.CliParam;
import mb.spoofax.core.language.command.AutoCommandRequest;
import mb.spoofax.core.language.command.CommandDef;
import mb.spoofax.core.language.command.CommandExecutionType;
import mb.spoofax.core.language.command.CommandRequest;
import mb.spoofax.core.language.command.EditorSelectionType;
import mb.spoofax.core.language.command.EditorFileType;
import mb.spoofax.core.language.command.EnclosingCommandContextType;
import mb.spoofax.core.language.command.HierarchicalResourceType;
import mb.spoofax.core.language.command.arg.RawArgs;
import mb.spoofax.core.language.menu.CommandAction;
import mb.spoofax.core.language.menu.MenuItem;
{{#isMultiLang}}
import mb.statix.multilang.AnalysisContext;
import mb.statix.multilang.AnalysisContextService;
import mb.statix.multilang.ContextId;
import mb.statix.multilang.ImmutableLanguageMetadata;
import mb.statix.multilang.LanguageId;
import mb.statix.multilang.LanguageMetadata;
import mb.statix.multilang.MultiLangConfig;
import mb.statix.multilang.spec.SpecBuilder;
import mb.statix.multilang.spec.SpecLoadException;
import mb.statix.multilang.spec.SpecUtils;
import mb.statix.multilang.tasks.SmlBuildMessages;
import mb.statix.multilang.utils.ContextUtils;
{{/isMultiLang}}
import org.checkerframework.checker.nullness.qual.Nullable;

import javax.inject.Inject;
import java.io.IOException;
import java.io.Serializable;
import java.io.UncheckedIOException;
import java.util.ArrayList;
import java.util.Set;
import java.util.HashSet;
import java.util.stream.Collectors;

public class {{genInstance.id}} implements LanguageInstance {
    private final static SetView<String> fileExtensions = SetView.of({{#shared.fileExtensions}}"{{this}}"{{^-last}}, {{/-last}}{{/shared.fileExtensions}});

{{#injected}}
    private final {{variable}};
{{/injected}}

    private final CollectionView<TaskDef<?, ?>> taskDefs;
    private final CollectionView<CommandDef<?>> commandDefs;
    private final CollectionView<AutoCommandRequest<?>> autoCommandDefs;

    @Inject public {{genInstance.id}}(
{{#injected}}
        {{variable}},
{{/injected}}
        Set<TaskDef<?, ?>> taskDefs,
        Set<CommandDef<?>> commandDefs,
        Set<AutoCommandRequest<?>> autoCommandDefs
    ) {
{{#injected}}
        {{thisAssign}};
{{/injected}}
        this.taskDefs = CollectionView.copyOf(taskDefs);
        this.commandDefs = CollectionView.copyOf(commandDefs);
        this.autoCommandDefs = CollectionView.copyOf(autoCommandDefs);
    }


    @Override public String getDisplayName() {
        return "{{shared.name}}";
    }

    @Override public SetView<String> getFileExtensions() {
        return fileExtensions;
    }


    @Override public Task<@Nullable ArrayList<? extends Token<?>>> createTokenizeTask(ResourceKey resourceKey) {
        return {{tokenizeInjection.name}}.createTask(resourceKey);
    }

    @Override public Task<@Nullable Styling> createStyleTask(ResourceKey resourceKey) {
        return {{styleInjection.name}}.createTask({{parseInjection.name}}.createNullableRecoverableTokensSupplier(resourceKey));
    }

    @Override
    public Task<@Nullable CompletionResult> createCompletionTask(ResourceKey resourceKey, Region primarySelection) {
        return {{completeInjection.name}}.createTask(new {{completeInjection.type.qualifiedId}}.Input({{parseInjection.name}}.createNullableRecoverableAstSupplier(resourceKey)));
    }

    @Override public Task<KeyedMessages> createCheckTask(ResourcePath projectRoot) {
        {{#isMultiLang}}
        MultiLangConfig config = ContextUtils.readYamlConfig(resourceService, projectRoot);
        ContextId contextId = config.getLanguageContexts()
                .getOrDefault(new LanguageId("{{languageId}}"), new ContextId("{{contextId}}"));
        AnalysisContext context = analysisContextService.getAnalysisContext(contextId);
        return {{analyzeInjection.name}}.createTask(new SmlBuildMessages.Input(projectRoot, context));
        {{/isMultiLang}}
        {{^isMultiLang}}
        return {{checkInjection.name}}.createTask(new {{checkInjection.type.qualifiedId}}.Input(
            projectRoot,
            new PathResourceWalker(new NoHiddenPathMatcher()),
            new PathResourceMatcher(new ExtensionsPathMatcher(getFileExtensions().asUnmodifiable()))));
        {{/isMultiLang}}
    }

    @Override public CollectionView<CommandDef<?>> getCommandDefs() {
        return commandDefs;
    }

    @Override public CollectionView<AutoCommandRequest<?>> getAutoCommandRequests() {
        return autoCommandDefs;
    }


    @Override public CliCommand getCliCommand() {
{{#cliCommand}}
        return {{>adapter_project/partial/CliCommand.mustache}};
{{/cliCommand}}
    }


    @Override public ListView<MenuItem> getMainMenuItems() {
        return ListView.of(
{{#mainMenuItems}}
            {{>adapter_project/partial/MenuItem.mustache}}{{^-last}},{{/-last}}
{{/mainMenuItems}}
        );
    }

    @Override public ListView<MenuItem> getResourceContextMenuItems() {
        return ListView.of(
{{#resourceContextMenuItems}}
            {{>adapter_project/partial/MenuItem.mustache}}{{^-last}},{{/-last}}
{{/resourceContextMenuItems}}
        );
    }

    @Override public ListView<MenuItem> getEditorContextMenuItems() {
        return ListView.of(
{{#editorContextMenuItems}}
            {{>adapter_project/partial/MenuItem.mustache}}{{^-last}},{{/-last}}
{{/editorContextMenuItems}}
        );
    }
    {{#multilangAnalyzer}}
    public LanguageMetadata getLanguageMetadata() {
        SpecBuilder spec;
        try {
            spec = SpecUtils.loadSpec({{classLoaderResourceRegistryInjection.name}}
                .getResource(ResourceKeyString.of("{{specRoot}}")), "{{rootModule}}", {{termFactoryInjection.name}});
        } catch(IOException e) {
            throw new SpecLoadException(e);
        }

        return ImmutableLanguageMetadata.builder()
            .resourcesSupplier((exec, projectDir) -> {
                HierarchicalResource res = exec.getHierarchicalResource(projectDir);
                try {
                    return res.walk(
                    new PathResourceWalker(new NoHiddenPathMatcher()),
                    new PathResourceMatcher(new ExtensionsPathMatcher(fileExtensions.asUnmodifiable())))
                    .map(HierarchicalResource::getKey)
                    .collect(Collectors.toCollection(HashSet::new));
                } catch(IOException e) {
                    throw new UncheckedIOException(e);
                }
            })
            .astFunction({{preStatixInjection.name}}.createFunction().mapInput((exec, key) -> {{indexAstInjection.name}}
                .createSupplier(new {{indexAstInjection.type.qualifiedId}}.Input(key, {{parseInjection.name}}
                    .createNullableRecoverableAstSupplier(key)))))
            .postTransform({{postStatixInjection.name}}.createFunction())
            .languageId(new LanguageId("{{languageId}}"))
            .addAllTaskDefs(taskDefs)
            .addResourceRegistries({{classLoaderResourceRegistryInjection.name}})
            .statixSpec(spec)
            .fileConstraint("{{fileConstraint}}")
            .projectConstraint("{{projectConstraint}}")
            .build();
    }
    {{/multilangAnalyzer}}
}
