package {{genModule.packageId}};

import dagger.Module;
import dagger.Provides;
import dagger.multibindings.ElementsIntoSet;
import mb.log.api.LoggerFactory;
import mb.common.util.MapView;
import mb.common.util.EntryView;
import mb.log.api.LoggerFactory;
import mb.pie.api.MapTaskDefs;
import mb.pie.api.Pie;
import mb.pie.api.MixedSession;
import mb.pie.api.TaskDef;
import mb.pie.api.TaskDefs;
import mb.resource.ResourceKeyString;
import mb.resource.ResourceService;
import mb.resource.classloader.ClassLoaderResource;
import mb.resource.classloader.ClassLoaderResourceRegistry;
import mb.resource.hierarchical.HierarchicalResource;
import mb.spoofax.core.language.LanguageInstance;
import mb.spoofax.core.language.LanguageScope;
import mb.spoofax.core.language.command.AutoCommandRequest;
import mb.spoofax.core.language.command.CommandDef;
import mb.spoofax.core.language.command.HierarchicalResourceType;
import mb.spoofax.core.language.command.arg.RawArgs;
import mb.spoofax.core.platform.Platform;
{{#isMultiLang}}
import mb.statix.multilang.AnalysisContextService;
import mb.statix.multilang.ContextId;
{{/isMultiLang}}
import mb.stratego.common.StrategoRuntime;
import mb.stratego.common.StrategoRuntimeBuilder;
import org.spoofax.interpreter.terms.ITermFactory;

import javax.inject.Named;
import java.util.HashSet;
import java.util.Set;

@Module
public class {{genModule.id}} {
    @Provides @LanguageScope
    static ClassLoaderResourceRegistry provideClassLoaderResourceRegistry() {
        return {{classloaderResources.languageProjectInput.classloaderResources.qualifiedId}}.createClassLoaderResourceRegistry();
    }

    @Provides @LanguageScope
    static ResourceService provideResourceRegistry(@Platform ResourceService resourceService, ClassLoaderResourceRegistry classLoaderResourceRegistry) {
        return resourceService.createChild(classLoaderResourceRegistry);
    }

    @Provides @Named("definition-dir") @LanguageScope
    static ClassLoaderResource provideDefinitionDir(ClassLoaderResourceRegistry registry) {
        return {{classloaderResources.languageProjectInput.classloaderResources.qualifiedId}}.createDefinitionDir(registry);
    }

    @Provides @Named("definition-dir") @LanguageScope
    static HierarchicalResource provideDefinitionDirAsHierarchicalResource(@Named("definition-dir") ClassLoaderResource definitionDir) {
        return definitionDir;
    }


    @Provides @LanguageScope
    static {{parser.languageProjectInput.factory.qualifiedId}} provideParserFactory(@Named("definition-dir") HierarchicalResource definitionDir) {
        return new {{parser.languageProjectInput.factory.qualifiedId}}(definitionDir);
    }

    @Provides /* Unscoped: parser has state, so create a new parser every call. */
    static {{parser.languageProjectInput.parser.qualifiedId}} provideParser({{parser.languageProjectInput.factory.qualifiedId}} parserFactory) {
        return parserFactory.create();
    }
{{#styler}}


    @Provides @LanguageScope
    static {{this.languageProjectInput.factory.qualifiedId}} provideStylerFactory(LoggerFactory loggerFactory, @Named("definition-dir") HierarchicalResource definitionDir) {
        return new {{this.languageProjectInput.factory.qualifiedId}}(loggerFactory, definitionDir);
    }

    @Provides @LanguageScope
    static {{this.languageProjectInput.styler.qualifiedId}} provideStyler({{this.languageProjectInput.factory.qualifiedId}} stylerFactory) {
        return stylerFactory.create();
    }
{{/styler}}
{{#strategoRuntime}}


    @Provides @LanguageScope
    static {{this.languageProjectInput.factory.qualifiedId}} provideStrategoRuntimeBuilderFactory(LoggerFactory loggerFactory, ResourceService resourceService, @Named("definition-dir") HierarchicalResource definitionDir) {
        return new {{this.languageProjectInput.factory.qualifiedId}}(loggerFactory, resourceService, definitionDir);
    }

    @Provides @LanguageScope
    static StrategoRuntimeBuilder provideStrategoRuntimeBuilder({{this.languageProjectInput.factory.qualifiedId}} factory) {
        return factory.create();
    }

    @Provides @LanguageScope @Named("prototype")
    static StrategoRuntime providePrototypeStrategoRuntime(StrategoRuntimeBuilder builder) {
        return builder.build();
    }

    @Provides /* Unscoped: new session every call. */
    static StrategoRuntime provideStrategoRuntime(StrategoRuntimeBuilder builder, @Named("prototype") StrategoRuntime prototype) {
        return builder.buildFromPrototype(prototype);
    }

    @Provides @LanguageScope
    static ITermFactory provideTermFactory(@Named("prototype") StrategoRuntime prototype) {
        return prototype.getTermFactory();
    }
{{/strategoRuntime}}
{{#constraintAnalyzer}}


    @Provides @LanguageScope
    static {{this.languageProjectInput.factory.qualifiedId}} provideConstraintAnalyzerFactory(LoggerFactory loggerFactory, ResourceService resourceService, StrategoRuntime prototypeStrategoRuntime) {
        return new {{this.languageProjectInput.factory.qualifiedId}}(loggerFactory, resourceService, prototypeStrategoRuntime);
    }

    @Provides @LanguageScope
    static {{this.languageProjectInput.constraintAnalyzer.qualifiedId}} provideConstraintAnalyzer({{this.languageProjectInput.factory.qualifiedId}} factory) {
        return factory.create();
    }
{{/constraintAnalyzer}}


    @Provides @LanguageScope @ElementsIntoSet
    static Set<TaskDef<?, ?>> provideTaskDefsSet(
{{#providedTaskDefs}}
        {{variable}}{{^-last}},{{/-last}}
{{/providedTaskDefs}}
    ) {
        final HashSet<TaskDef<?, ?>> taskDefs = new HashSet<>();
{{#providedTaskDefs}}
        taskDefs.add({{name}});
{{/providedTaskDefs}}
        return taskDefs;
    }

    @Provides @LanguageScope
    static TaskDefs provideTaskDefs(Set<TaskDef<?, ?>> taskDefs) {
        return new MapTaskDefs(taskDefs);
    }

    {{#multilangAnalyzer}}
    @Provides @LanguageScope
    static Pie providePie(AnalysisContextService analysisContextService) {
        return analysisContextService.getAnalysisContext(new ContextId("{{contextId}}")).createPieForContext();
    }
    {{/multilangAnalyzer}}
    {{^multilangAnalyzer}}
    @Provides @LanguageScope
    static Pie providePie(@Platform Pie pie, TaskDefs taskDefs, ResourceService resourceService) {
        return pie.createChildBuilder().withTaskDefs(taskDefs).withResourceService(resourceService).build();
    }
    {{/multilangAnalyzer}}


    @Provides @LanguageScope
    static LanguageInstance provideLanguageInstance({{genInstance.id}} instance) {
        return instance;
    }


    @Provides @LanguageScope @ElementsIntoSet
    static Set<CommandDef<?>> provideCommandDefsSet(
{{#providedCommandDefs}}
        {{variable}}{{^-last}},{{/-last}}
{{/providedCommandDefs}}
    ) {
        final HashSet<CommandDef<?>> commandDefs = new HashSet<>();
{{#providedCommandDefs}}
        commandDefs.add({{name}});
{{/providedCommandDefs}}
        return commandDefs;
    }

    @Provides @LanguageScope @ElementsIntoSet
    static Set<AutoCommandRequest<?>> provideAutoCommandRequestsSet(
{{#providedAutoCommandDefs}}
        {{value.commandDef.qualifiedId}} {{name}}{{^-last}},{{/-last}}
{{/providedAutoCommandDefs}}
    ) {
        final HashSet<AutoCommandRequest<?>> autoCommandDefs = new HashSet<>();
{{#providedAutoCommandDefs}}
        autoCommandDefs.add(AutoCommandRequest.of({{name}}, new RawArgs(MapView.of({{#value.initialArgs.entrySet}}new EntryView<>("{{getKey}}", {{getValue}}){{^-last}},{{/-last}}{{/value.initialArgs.entrySet}})){{#value.resourceTypes}}, HierarchicalResourceType.{{this}}{{/value.resourceTypes}}));
{{/providedAutoCommandDefs}}
        return autoCommandDefs;
    }
}
