package {{genFactory.packageId}};

import mb.spoofax.compiler.interfaces.spoofaxcore.ConstraintAnalyzerFactory;
import mb.stratego.common.StrategoRuntime;

import {{genConstraintAnalyzer.qualifiedId}};

public class {{genFactory.id}} implements ConstraintAnalyzerFactory {
    private final StrategoRuntime strategoRuntime;

    public {{genFactory.id}}(StrategoRuntime strategoRuntime) {
        this.strategoRuntime = strategoRuntime;
    }

    @Override public {{genConstraintAnalyzer.id}} create() {
        return new {{genConstraintAnalyzer.id}}(strategoRuntime);
    }
}
