package {{languageProject.packageId}};

import mb.spoofax.compiler.interfaces.spoofaxcore.ConstraintAnalyzerFactory;
import mb.stratego.common.StrategoRuntime;

public class {{genFactoryClass}} implements ConstraintAnalyzerFactory {
    private final StrategoRuntime strategoRuntime;

    public {{genFactoryClass}}(StrategoRuntime strategoRuntime) {
        this.strategoRuntime = strategoRuntime;
    }

    @Override public {{genConstraintAnalyzerClass}} create() {
        return new {{genConstraintAnalyzerClass}}(strategoRuntime);
    }
}
