{{#getCommandAction}}
CommandAction.builder().with(
    {{#commandRequest.commandDefType}}{{#getInjectedCommandDef}}{{/getInjectedCommandDef}}{{/commandRequest.commandDefType}},
    CommandExecutionType.{{commandRequest.executionType}},
    {{#displayName}}"{{this}}"{{/displayName}}{{^displayName}}{{#commandRequest.commandDefType}}{{#getInjectedCommandDef}}{{/getInjectedCommandDef}}.getDisplayName(){{/commandRequest.commandDefType}}{{/displayName}},
    new RawArgs(MapView.<String, Serializable>of({{#commandRequest.initialArgs.entrySet}}new EntryView<String, Serializable>("{{getKey}}", {{getValue}}){{^-last}},{{/-last}}{{/commandRequest.initialArgs.entrySet}}))
).buildItem()
{{/getCommandAction}}
{{#getMenu}}
MenuItem.menu("{{displayName}}",
{{#items}}
    {{>adapter_project/partial/MenuItem.mustache}}{{^-last}},{{/-last}}
{{/items}}
)
{{/getMenu}}
{{#getSeparator}}
MenuItem.separator()
{{/getSeparator}}