{{#getCommandAction}}
CommandAction.builder().with(
    {{#commandRequest.commandDefType}}{{#getInjectedCommandDef}}{{/getInjectedCommandDef}}{{/commandRequest.commandDefType}},
    CommandExecutionType.{{commandRequest.executionType}},
    {{#displayName}}"{{this}}"{{/displayName}}{{^displayName}}{{#commandRequest.commandDefType}}{{#getInjectedCommandDef}}{{/getInjectedCommandDef}}.getDisplayName(){{/commandRequest.commandDefType}}{{/displayName}},
    new RawArgs(MapView.<String, Serializable>of({{#commandRequest.initialArgs.entrySet}}new EntryView<String, Serializable>("{{getKey}}", {{getValue}}){{^-last}},{{/-last}}{{/commandRequest.initialArgs.entrySet}}))
)
.addRequiredEditorSelectionTypes({{#requiredEditorSelectionTypes}}EditorSelectionType.{{this}}{{^-last}},{{/-last}}{{/requiredEditorSelectionTypes}})
.addRequiredEditorFileTypes({{#requiredEditorFileTypes}}EditorFileType.{{this}}{{^-last}},{{/-last}}{{/requiredEditorFileTypes}})
.addRequiredResourceTypes({{#requiredResourceTypes}}HierarchicalResourceType.{{this}}{{^-last}},{{/-last}}{{/requiredResourceTypes}})
.addRequiredEnclosingResourceTypes({{#requiredEnclosingResourceTypes}}EnclosingCommandContextType.{{this}}{{^-last}},{{/-last}}{{/requiredEnclosingResourceTypes}})
.buildItem()
{{/getCommandAction}}
{{#getMenu}}
MenuItem.menu("{{displayName}}",
{{#items}}
    {{>adapter_project/partial/MenuItem.mustache}}{{^-last}},{{/-last}}
{{/items}}
)
{{/getMenu}}
{{#getSeparator}}
MenuItem.separator()
{{/getSeparator}}