{{#getCommandAction}}
CommandAction.builder().with(
    {{#commandDefType}}{{#getInjectedCommandDef}}{{/getInjectedCommandDef}}{{/commandDefType}},
    CommandExecutionType.{{executionType}},
    {{#displayName}}"{{this}}"{{/displayName}}{{^displayName}}null{{/displayName}},
    new RawArgs(MapView.<String, Serializable>of({{#initialArgs.entrySet}}new EntryView<String, Serializable>("{{getKey}}", {{getValue}}){{^-last}},{{/-last}}{{/initialArgs.entrySet}}))
).buildItem()
{{/getCommandAction}}
{{#getMenu}}
MenuItem.menu("{{displayName}}",
{{#items}}
    {{>adapter_project/partial/MenuItem.mustache}}{{^-last}},{{/-last}}
{{/items}}
)
{{/getMenu}}
{{#getSeparator}}
MenuItem.separator()
{{/getSeparator}}