package {{genParserFactory.packageId}};

import mb.resource.hierarchical.HierarchicalResource;
import mb.spoofax.compiler.interfaces.spoofaxcore.ParserFactory;

public class {{genParserFactory.id}} implements ParserFactory {
    private final {{genTable.qualifiedId}} parseTable;

    public {{genParserFactory.id}}(HierarchicalResource definitionDir) {
        this.parseTable = {{genTable.qualifiedId}}.fromDefinitionDir(definitionDir);
    }

    @Override public {{genParser.qualifiedId}} create() {
        return new {{genParser.qualifiedId}}(parseTable);
    }
}
