package {{baseParser.packageId}};

import mb.jsglr.common.JsglrParseException;
import mb.jsglr.common.JsglrParseInput;
import mb.jsglr.common.JsglrParseOutput;
import mb.spoofax.compiler.interfaces.spoofaxcore.Parser;

import {{parseTable.qualifiedId}};

public class {{baseParser.id}} implements Parser {
    private final {{parserType.qualifiedId}} parser;

    public {{baseParser.id}}({{parseTable.id}} parseTable) {
        this.parser = new {{parserType.qualifiedId}}(parseTable.parseTable);
    }

    @Override
    public JsglrParseOutput parse(JsglrParseInput input) throws JsglrParseException, InterruptedException {
        return parser.parse(input);
    }
}
