package {{baseParserFactory.packageId}};

import mb.resource.hierarchical.HierarchicalResource;
import mb.spoofax.compiler.interfaces.spoofaxcore.ParserFactory;

public class {{baseParserFactory.id}} implements ParserFactory {
    private final {{parseTable.qualifiedId}} parseTable;

    public {{baseParserFactory.id}}(HierarchicalResource definitionDir) {
        this.parseTable = {{parseTable.qualifiedId}}.fromDefinitionDir(definitionDir);
    }

    @Override public {{parser.qualifiedId}} create() {
        return new {{parser.qualifiedId}}(parseTable);
    }
}
