package {{baseParserFactory.packageId}};

import mb.resource.hierarchical.HierarchicalResource;
import mb.spoofax.compiler.interfaces.spoofaxcore.ParserFactory;

public class {{baseParserFactory.id}} implements ParserFactory {
    private final {{baseParseTable.qualifiedId}} parseTable;

    public {{baseParserFactory.id}}(HierarchicalResource definitionDir) {
        this.parseTable = {{baseParseTable.qualifiedId}}.fromDefinitionDir(definitionDir);
    }

    @Override public {{baseParser.qualifiedId}} create() {
        return new {{baseParser.qualifiedId}}(parseTable);
    }
}
