package {{baseMain.packageId}};

import mb.log.slf4j.SLF4JLoggerFactory;
import mb.pie.runtime.PieBuilderImpl;
import mb.spoofax.cli.DaggerSpoofaxCliComponent;
import mb.spoofax.cli.SpoofaxCli;
import mb.spoofax.cli.SpoofaxCliComponent;
import mb.spoofax.core.platform.BaseResourceServiceModule;
import mb.spoofax.core.platform.DaggerBaseResourceServiceComponent;
import mb.spoofax.core.platform.LoggerFactoryModule;
import mb.spoofax.core.platform.PlatformPieModule;
import mb.spoofax.core.platform.ResourceServiceComponent;

public class {{baseMain.id}} {
    public static void main(String[] args) {
        final {{adapterProjectCompilerInput.resourcesComponent.qualifiedId}} resourcesComponent = {{adapterProjectCompilerInput.daggerResourcesComponent.qualifiedId}}.create();
        final BaseResourceServiceModule resourceServiceModule = new BaseResourceServiceModule()
            .addRegistriesFrom(resourcesComponent);
        final ResourceServiceComponent resourceServiceComponent = DaggerBaseResourceServiceComponent.builder()
            .baseResourceServiceModule(resourceServiceModule)
            .build();
        final SpoofaxCliComponent platformComponent = DaggerSpoofaxCliComponent.builder()
            .loggerFactoryModule(new LoggerFactoryModule(new SLF4JLoggerFactory()))
            .platformPieModule(new PlatformPieModule(PieBuilderImpl::new))
            .resourceServiceComponent(resourceServiceComponent)
            .build();
        final {{adapterProjectCompilerInput.component.qualifiedId}} component = {{adapterProjectCompilerInput.daggerComponent.qualifiedId}}.builder()
            .{{adapterProjectCompilerInput.resourcesComponent.idAsCamelCase}}(resourcesComponent)
            .resourceServiceComponent(resourceServiceComponent)
            .platformComponent(platformComponent)
            .build();
        final SpoofaxCli cmd = platformComponent.getSpoofaxCmd();
        final int status = cmd.run(args, component);
        System.exit(status);
    }
}
