package {{genPostStatixTaskDef.packageId}};

import mb.common.result.Result;
import mb.pie.api.ExecContext;
import mb.pie.api.Supplier;
import mb.stratego.common.StrategoRuntime;
import mb.stratego.pie.AstStrategoTransformTaskDef;
import org.spoofax.interpreter.terms.IStrategoTerm;

import javax.inject.Inject;
import javax.inject.Provider;
import java.io.IOException;

@LanguageScope
public class {{genPostStatixTaskDef.id}} extends AstStrategoTransformTaskDef {
    @Inject public {{genPostStatixTaskDef.id}}(Provider<StrategoRuntime> strategoRuntimeProvider) {
        super(strategoRuntimeProvider, "{{postAnalysisStrategy}}");
    }

    @Override public String getId() {
        return "{{genPostStatixTaskDef.qualifiedId}}";
    }

    @Override
    public Result<IStrategoTerm, ?> exec(ExecContext context, Supplier<? extends Result<IStrategoTerm, ?>> supplier) {
        try {
            return super.exec(context, supplier);
        } catch(IOException e) {
            return Result.ofErr(e);
        }
    }
}
