package {{genCheckTaskDef.packageId}};

import dagger.Lazy;
import mb.common.message.Messages;
import mb.pie.api.Function;
import mb.pie.api.ResourceStringSupplier;
import mb.pie.api.Supplier;
import mb.resource.ResourceKey;
import mb.spoofax.core.language.LanguageScope;
import mb.statix.multilang.LanguageId;
import mb.statix.multilang.LanguageMetadataManager;
import mb.statix.multilang.pie.SmlSolveProject;
import mb.statix.multilang.pie.SmlCheckTaskDef;
import mb.statix.multilang.pie.config.SmlBuildContextConfiguration;
import org.spoofax.interpreter.terms.IStrategoTerm;

import javax.inject.Inject;

@LanguageScope
public class {{genCheckTaskDef.id}} extends SmlCheckTaskDef {

    @Inject public {{genCheckTaskDef.id}}(
        Function<Supplier<String>, Messages> messagesSupplier,
        SmlBuildContextConfiguration buildContextConfiguration,
        SmlSolveProject solveProject,
        Lazy<LanguageMetadataManager> languageMetadataManager
    ) {
        super(messagesSupplier.mapInput((java.util.function.Function<ResourceKey, Supplier<String>>)ResourceStringSupplier::new),
                buildContextConfiguration, solveProject, languageMetadataManager);
    }

    @Override public String getId() {
        return "{{genCheckTaskDef.qualifiedId}}";
    }

    @Override protected LanguageId getLanguageId() {
        return new LanguageId("{{languageId}}");
    }
}
