package {{baseTegoRuntimeBuilderFactory.packageId}};

import mb.log.api.LoggerFactory;
import mb.spoofax.compiler.interfaces.spoofaxcore.TegoRuntimeBuilderFactory;
import mb.tego.strategies.runtime.TegoRuntimeBuilder;

public class {{baseTegoRuntimeBuilderFactory.id}} implements TegoRuntimeBuilderFactory {
    private final LoggerFactory loggerFactory;

    public {{baseTegoRuntimeBuilderFactory.id}}(LoggerFactory loggerFactory) {
        this.loggerFactory = loggerFactory;
    }

    @Override public TegoRuntimeBuilder create() {
        final TegoRuntimeBuilder builder = new TegoRuntimeBuilder(loggerFactory);
        return builder;
    }
}
