{{#standaloneProject}}
plugins {
  id("org.metaborg.gradle.config.sub-project") version "{{shared.metaborgGradleConfigVersion}}"
  id("org.metaborg.gradle.config.java-application") version "{{shared.metaborgGradleConfigVersion}}"
}

repositories {
{{#repositoryCodes}}
  {{this}}
{{/repositoryCodes}}
}
{{/standaloneProject}}
{{^standaloneProject}}
plugins {
  id("org.metaborg.gradle.config.java-application")
}
{{/standaloneProject}}

group = "{{shared.cliProject.coordinate.groupId}}"
version = "{{shared.cliProject.coordinate.version}}"

application {
  mainClassName = "{{main.qualifiedId}}"
}

sourceSets {
  main {
    java {
      srcDir("$buildDir/generated/sources/spoofax/java")
    }
  }
}

dependencies {
{{#dependencyCodes}}
  {{this}}
{{/dependencyCodes}}
}
