package {{genParser.packageId}};

import mb.jsglr1.common.JSGLR1ParseException;
import mb.jsglr1.common.JSGLR1ParseOutput;
import mb.jsglr1.common.JSGLR1Parser;
import mb.resource.ResourceKey;
import mb.spoofax.compiler.interfaces.spoofaxcore.Parser;
import org.checkerframework.checker.nullness.qual.Nullable;

import {{genTable.qualifiedId}};

public class {{genParser.id}} implements Parser {
    private final JSGLR1Parser parser;

    public {{genParser.id}}({{genTable.id}} parseTable) {
        this.parser = new JSGLR1Parser(parseTable.parseTable);
    }

    @Override
    public JSGLR1ParseOutput parse(String text, String startSymbol) throws JSGLR1ParseException, InterruptedException {
        return parser.parse(text, startSymbol, null);
    }

    @Override
    public JSGLR1ParseOutput parse(String text, String startSymbol, @Nullable ResourceKey resource) throws JSGLR1ParseException, InterruptedException {
        return parser.parse(text, startSymbol, resource);
    }
}
