package {{genTokenizeTaskDef.packageId}};

import mb.jsglr.common.Tokens;
import mb.pie.api.ExecContext;
import mb.pie.api.ExecException;
import mb.pie.api.ResourceStringSupplier;
import mb.pie.api.TaskDef;
import mb.resource.ResourceKey;
import mb.spoofax.core.language.LanguageScope;
import org.checkerframework.checker.nullness.qual.Nullable;

import javax.inject.Inject;

@LanguageScope
public class {{genTokenizeTaskDef.id}} implements TaskDef<ResourceKey, @Nullable Tokens> {
    private final {{parseTaskDef.qualifiedId}} parse;

    @Inject public {{genTokenizeTaskDef.id}}({{parseTaskDef.qualifiedId}} parse) {
        this.parse = parse;
    }

    @Override public String getId() {
        return "{{genTokenizeTaskDef.qualifiedId}}";
    }

    @Override
    public @Nullable Tokens exec(ExecContext context, ResourceKey key) throws ExecException, InterruptedException {
        return context.require(parse, new ResourceStringSupplier(key)).ok().map(o -> o.tokens).orElse(null);
    }
}
