package {{genTokenizeTaskDef.packageId}};

import mb.common.token.Token;
import mb.jsglr1.common.JSGLR1ParseOutput;
import mb.pie.api.ExecContext;
import mb.pie.api.ExecException;
import mb.pie.api.ResourceStringSupplier;
import mb.pie.api.TaskDef;
import mb.resource.ResourceKey;
import mb.spoofax.core.language.LanguageScope;
import org.checkerframework.checker.nullness.qual.Nullable;

import javax.inject.Inject;
import java.util.ArrayList;

@LanguageScope
public class {{genTokenizeTaskDef.id}} implements TaskDef<ResourceKey, @Nullable ArrayList<? extends Token<?>>> {
    private final {{parseTaskDef.qualifiedId}} parse;

    @Inject public {{genTokenizeTaskDef.id}}({{parseTaskDef.qualifiedId}} parse) {
        this.parse = parse;
    }

    @Override public String getId() {
        return "{{genTokenizeTaskDef.qualifiedId}}";
    }

    @Override
    public @Nullable ArrayList<? extends Token<?>> exec(ExecContext context, ResourceKey key) throws ExecException, InterruptedException {
        final @Nullable JSGLR1ParseOutput parseResult = context.require(parse, new ResourceStringSupplier(key));
        return parseResult.getTokens().orElse(null);
    }
}
