package {{baseUpgradePlaceholdersStatixTaskDef.packageId}};

import mb.common.result.Result;
import mb.pie.api.ExecContext;
import mb.pie.api.Supplier;
import mb.stratego.common.StrategoRuntime;
import mb.stratego.pie.AstStrategoTransformTaskDef;
import org.spoofax.interpreter.terms.IStrategoTerm;


import javax.inject.Inject;
import javax.inject.Provider;
import java.io.IOException;

@{{adapterProject.scope.qualifiedId}}
public class {{baseUpgradePlaceholdersStatixTaskDef.id}} extends AstStrategoTransformTaskDef {
    @Inject public {{baseUpgradePlaceholdersStatixTaskDef.id}}({{strategoRuntimeInput.getStrategoRuntimeProviderTaskDef.qualifiedId}} getStrategoRuntimeProvider) {
        super(getStrategoRuntimeProvider, "{{upgradePlaceholdersStrategy}}");
    }

    @Override public String getId() {
        return "{{baseUpgradePlaceholdersStatixTaskDef.qualifiedId}}";
    }

}
