package {{genParseTaskDef.packageId}};

import mb.common.result.Result;
import mb.jsglr1.common.JSGLR1ParseException;
import mb.jsglr1.common.JSGLR1ParseOutput;
import mb.jsglr1.pie.JSGLR1ParseTaskDef;
import mb.spoofax.core.language.LanguageScope;

import javax.inject.Inject;
import javax.inject.Provider;

@LanguageScope
public class {{genParseTaskDef.id}} extends JSGLR1ParseTaskDef {
    private final Provider<{{languageProjectInput.parser.qualifiedId}}> parserProvider;

    @Inject
    public {{genParseTaskDef.id}}(Provider<{{languageProjectInput.parser.qualifiedId}}> parserProvider) {
        this.parserProvider = parserProvider;
    }

    @Override public String getId() {
        return "{{genParseTaskDef.qualifiedId}}";
    }

    @Override protected Result<JSGLR1ParseOutput, JSGLR1ParseException> parse(String text) throws InterruptedException {
        final {{languageProjectInput.parser.qualifiedId}} parser = parserProvider.get();
        try {
            return Result.ofOk(parser.parse(text, "{{languageProjectInput.startSymbol}}"));
        } catch(JSGLR1ParseException e) {
            return Result.ofErr(e);
        }
    }
}
