package {{genTokenizeTaskDef.packageId}};

import mb.common.option.Option;
import mb.jsglr.common.JSGLRTokens;
import mb.pie.api.ExecContext;
import mb.pie.api.TaskDef;
import mb.resource.ResourceKey;
import mb.spoofax.core.language.LanguageScope;
import org.checkerframework.checker.nullness.qual.Nullable;

import javax.inject.Inject;
import java.io.IOException;

@LanguageScope
public class {{genTokenizeTaskDef.id}} implements TaskDef<ResourceKey, Option<JSGLRTokens>> {
    private final {{parseTaskDef.qualifiedId}} parse;

    @Inject public {{genTokenizeTaskDef.id}}({{parseTaskDef.qualifiedId}} parse) {
        this.parse = parse;
    }

    @Override public String getId() {
        return "{{genTokenizeTaskDef.qualifiedId}}";
    }

    @Override
    public @Nullable Option<JSGLRTokens> exec(ExecContext context, ResourceKey key) throws IOException {
        return context.require(parse.createTokensSupplier(key)).ok();
    }
}
