package {{baseStylerFactory.packageId}};

import mb.log.api.LoggerFactory;
import mb.resource.hierarchical.HierarchicalResource;
import mb.spoofax.compiler.interfaces.spoofaxcore.StylerFactory;

public class {{baseStylerFactory.id}} implements StylerFactory {
    private final {{stylingRules.qualifiedId}} stylingRules;
    private final LoggerFactory loggerFactory;

    public {{baseStylerFactory.id}}(LoggerFactory loggerFactory, HierarchicalResource definitionDir) {
        this.stylingRules = {{stylingRules.qualifiedId}}.fromDefinitionDir(definitionDir);
        this.loggerFactory = loggerFactory;
    }

    @Override public {{styler.qualifiedId}} create() {
        return new {{styler.qualifiedId}}(stylingRules, loggerFactory);
    }
}
