package {{genStyleTaskDef.packageId}};

import mb.common.option.Option;
import mb.common.style.Styling;
import mb.jsglr.common.JSGLRTokens;
import mb.pie.api.ExecContext;
import mb.pie.api.ExecException;
import mb.pie.api.Supplier;
import mb.pie.api.TaskDef;
import mb.spoofax.core.language.LanguageScope;

import javax.inject.Inject;
import java.io.IOException;

@LanguageScope
public class {{genStyleTaskDef.id}} implements TaskDef<Supplier<Option<JSGLRTokens>>, Option<Styling>> {
    private final {{languageProjectInput.styler.qualifiedId}} styler;

    @Inject public {{genStyleTaskDef.id}}({{languageProjectInput.styler.qualifiedId}} styler) {
        this.styler = styler;
    }

    @Override public String getId() {
        return "{{genStyleTaskDef.qualifiedId}}";
    }

    @Override
    public Option<Styling> exec(ExecContext context, Supplier<Option<JSGLRTokens>> tokensSupplier) throws ExecException, IOException, InterruptedException {
        return context.require(tokensSupplier).map(t -> styler.style(t.tokens));
    }
}
