package {{baseAnalyzeTaskDef.packageId}};

import mb.constraint.common.ConstraintAnalyzer.SingleFileResult;
import mb.constraint.common.ConstraintAnalyzerContext;
import mb.constraint.pie.ConstraintAnalyzeTaskDef;
import mb.pie.api.ExecContext;
import mb.pie.api.None;
import mb.pie.api.stamp.resource.ResourceStampers;
import mb.resource.ResourceKey;
import mb.resource.ResourceService;
import mb.resource.hierarchical.HierarchicalResource;
import mb.resource.hierarchical.match.AllResourceMatcher;
import mb.resource.hierarchical.match.FileResourceMatcher;
import mb.resource.hierarchical.match.PathResourceMatcher;
import mb.resource.hierarchical.match.path.ExtensionPathMatcher;
import mb.stratego.common.StrategoRuntime;
import org.spoofax.interpreter.terms.IStrategoTerm;

import javax.inject.Inject;
import javax.inject.Provider;
import java.io.IOException;
import java.io.UncheckedIOException;
import java.util.stream.Stream;

@{{adapterProject.scope.qualifiedId}}
public class {{baseAnalyzeTaskDef.id}} extends ConstraintAnalyzeTaskDef {
    private final {{classLoaderResourcesInput.classLoaderResources.qualifiedId}} classLoaderResources;
    private final ResourceService resourceService;
    private final {{languageProjectInput.constraintAnalyzer.qualifiedId}} constraintAnalyzer;
    private final {{strategoRuntimeInput.getStrategoRuntimeProviderTaskDef.qualifiedId}} getStrategoRuntimeProvider;

    @Inject
    public {{baseAnalyzeTaskDef.id}}(
        {{classLoaderResourcesInput.classLoaderResources.qualifiedId}} classLoaderResources,
        ResourceService resourceService,
        {{languageProjectInput.constraintAnalyzer.qualifiedId}} constraintAnalyzer,
        {{strategoRuntimeInput.getStrategoRuntimeProviderTaskDef.qualifiedId}} getStrategoRuntimeProvider
    ) {
        this.classLoaderResources = classLoaderResources;
        this.resourceService = resourceService;
        this.constraintAnalyzer = constraintAnalyzer;
        this.getStrategoRuntimeProvider = getStrategoRuntimeProvider;
    }

    @Override
    public String getId() {
        return "{{baseAnalyzeTaskDef.qualifiedId}}";
    }

    @Override
    protected SingleFileResult analyze(ExecContext context, ResourceKey resource, IStrategoTerm ast, ConstraintAnalyzerContext constraintAnalyzerContext) throws Exception {
        {{#languageProjectInput.enableStatix}}
        try {
            classLoaderResources.performWithDefinitionResourceLocations(
                "src-gen/statix",
                directory -> {
                    try(final Stream<? extends HierarchicalResource> stream = directory.walk(
                        new AllResourceMatcher(new FileResourceMatcher(), new PathResourceMatcher(new ExtensionPathMatcher("aterm")))
                    )) {
                        stream.forEach(statixSpecResource -> {
                            try {
                                context.require(statixSpecResource, ResourceStampers.hashFile());
                            } catch(IOException e) {
                                throw new UncheckedIOException(e);
                            }
                        });
                    }
                },
                jarFileWithPath -> context.require(jarFileWithPath.file)
            );
        } catch(UncheckedIOException e) {
            throw e.getCause();
        }
        {{/languageProjectInput.enableStatix}}
        context.require(classLoaderResources.tryGetAsLocalResource(getClass()), ResourceStampers.hashFile());
        context.require(classLoaderResources.tryGetAsLocalResource({{languageProjectInput.constraintAnalyzer.qualifiedId}}.class), ResourceStampers.hashFile());
        context.require(classLoaderResources.tryGetAsLocalResource({{languageProjectInput.constraintAnalyzerFactory.qualifiedId}}.class), ResourceStampers.hashFile());
        final StrategoRuntime strategoRuntime = context.require(getStrategoRuntimeProvider, None.instance).getValue().get();
        return constraintAnalyzer.analyze(resource, ast, constraintAnalyzerContext, strategoRuntime{{#languageProjectInput.enableStatix}}.addContextObject(mb.statix.spoofax.IStatixProjectConfig.class, createStatixProjectConfig()){{/languageProjectInput.enableStatix}}, resourceService);
    }

    {{#languageProjectInput.enableStatix}}
    protected mb.statix.spoofax.IStatixProjectConfig createStatixProjectConfig() {
        return new mb.statix.spoofax.StatixProjectConfig(
            null,
            {{#defaultStatixMessageStacktraceLength}}{{this}}{{/defaultStatixMessageStacktraceLength}}{{^defaultStatixMessageStacktraceLength}}null{{/defaultStatixMessageStacktraceLength}},
            {{#defaultStatixMessageTermDepth}}{{this}}{{/defaultStatixMessageTermDepth}}{{^defaultStatixMessageTermDepth}}null{{/defaultStatixMessageTermDepth}},
            {{#defaultStatixTestLogLevel}}"{{this}}"{{/defaultStatixTestLogLevel}}{{^defaultStatixTestLogLevel}}null{{/defaultStatixTestLogLevel}},
            {{#defaultStatixSuppressCascadingErrors}}{{this}}{{/defaultStatixSuppressCascadingErrors}}{{^defaultStatixSuppressCascadingErrors}}true{{/defaultStatixSuppressCascadingErrors}}
        );
    }
    {{/languageProjectInput.enableStatix}}
}
