package {{baseShowPreAnalyzeAstTaskDef.packageId}};

import mb.statix.pie.ShowPreAnalyzeAstTaskDef;
import mb.pie.api.ExecContext;
import mb.pie.api.stamp.resource.ResourceStampers;
import mb.spoofax.core.language.command.CommandFeedback;

import javax.inject.Inject;

@{{adapterProject.scope.qualifiedId}}
public class {{baseShowPreAnalyzeAstTaskDef.id}} extends ShowPreAnalyzeAstTaskDef {
    private final {{classLoaderResourcesInput.classLoaderResources.qualifiedId}} classLoaderResources;

    @Inject public {{baseShowPreAnalyzeAstTaskDef.id}}(
        {{parseInput.parseTaskDef.qualifiedId}} parse,
        {{strategoRuntimeInput.getStrategoRuntimeProviderTaskDef.qualifiedId}} getStrategoRuntimeProvider,
        {{classLoaderResourcesInput.classLoaderResources.qualifiedId}} classLoaderResources
    ) {
        super(parse, getStrategoRuntimeProvider);
        this.classLoaderResources = classLoaderResources;
    }

    @Override public String getId() {
        return "{{baseShowPreAnalyzeAstTaskDef.qualifiedId}}";
    }

    @Override public CommandFeedback exec(ExecContext context, Args args) throws Exception {
        context.require(classLoaderResources.tryGetAsNativeResource(getClass()), ResourceStampers.hashFile());
        return super.exec(context, args);
    }
}
