package {{baseIndexAstTaskDef.packageId}};

import mb.common.result.Result;
import mb.common.text.Text;
import mb.jsglr.common.JsglrParseException;
import mb.jsglr.pie.JsglrParseTaskInput;
import mb.pie.api.Function;
import mb.pie.api.SerializableFunction;
import mb.pie.api.Supplier;
import mb.statix.multilang.pie.transform.SmlIndexAstTaskDef;
import mb.stratego.common.StrategoRuntime;
import org.checkerframework.checker.nullness.qual.Nullable;
import org.spoofax.interpreter.terms.IStrategoTerm;

import javax.inject.Inject;
import javax.inject.Provider;

@{{adapterProject.scope.qualifiedId}}
public class {{baseIndexAstTaskDef.id}} extends SmlIndexAstTaskDef<JsglrParseException> {

    @Inject public {{baseIndexAstTaskDef.id}}(
        Provider<StrategoRuntime> strategoRuntimeProvider,
        Function<JsglrParseTaskInput, Result<IStrategoTerm, JsglrParseException>> astSupplier
    ) {
        super(strategoRuntimeProvider, astSupplier.mapInput(new SerializableFunction<Supplier<Text>, JsglrParseTaskInput>() {
            @Override public JsglrParseTaskInput apply(Supplier<Text> textSupplier) {
                return JsglrParseTaskInput.builder().textSupplier(textSupplier).build();
            }

            @Override public boolean equals(@Nullable Object other) {
                return this == other || other != null && this.getClass() == other.getClass();
            }

            @Override public int hashCode() { return 0; }

            @Override public String toString() { return getClass().getSimpleName(); }
        }));
    }

    @Override public String getId() {
        return "{{baseIndexAstTaskDef.qualifiedId}}";
    }
}
