package {{basePreStatixTaskDef.packageId}};
import mb.common.result.Result;
import mb.pie.api.ExecContext;
import mb.pie.api.Supplier;
import mb.stratego.common.StrategoRuntime;
import mb.stratego.pie.AstStrategoTransformTaskDef;
import org.spoofax.interpreter.terms.IStrategoTerm;

import javax.inject.Inject;
import javax.inject.Provider;
import java.io.IOException;

@{{adapterProject.scope.qualifiedId}}
public class {{basePreStatixTaskDef.id}} extends AstStrategoTransformTaskDef {
    @Inject public {{basePreStatixTaskDef.id}}({{strategoRuntimeInput.getStrategoRuntimeProviderTaskDef.qualifiedId}} getStrategoRuntimeProvider) {
        super(getStrategoRuntimeProvider, "{{preAnalysisStrategy}}");
    }

    @Override public String getId() {
        return "{{basePreStatixTaskDef.qualifiedId}}";
    }

    @Override
    public Result<IStrategoTerm, ?> exec(ExecContext context, Supplier<? extends Result<IStrategoTerm, ?>> supplier) {
        try {
            return super.exec(context, supplier);
        } catch(IOException e) {
            return Result.ofErr(e);
        }
    }
}
