package {{baseCheckAggregatorTaskDef.packageId}};

import mb.common.message.KeyedMessages;
import mb.common.message.KeyedMessagesBuilder;
import mb.common.message.Messages;
import mb.pie.api.ExecContext;
import mb.pie.api.TaskDef;
import mb.pie.api.stamp.resource.ResourceStampers;
import mb.resource.ResourceKey;
import mb.resource.hierarchical.HierarchicalResource;
import mb.resource.hierarchical.ResourcePath;
import mb.resource.hierarchical.match.ResourceMatcher;
import mb.resource.hierarchical.match.path.PathMatcher;
import mb.resource.hierarchical.walk.ResourceWalker;
import org.checkerframework.checker.nullness.qual.Nullable;

import javax.inject.Inject;
import java.io.IOException;

@{{scope.qualifiedId}}
public class {{baseCheckAggregatorTaskDef.id}} implements TaskDef<ResourcePath, KeyedMessages> {
    private final {{classLoaderResources.classLoaderResources.qualifiedId}} classLoaderResources;
    private final {{getSourceFiles.getSourceFilesTaskDef.qualifiedId}} getSourceFiles;
    private final {{checkTaskDef.qualifiedId}} check;

    @Inject public {{baseCheckAggregatorTaskDef.id}}(
        {{classLoaderResources.classLoaderResources.qualifiedId}} classLoaderResources,
        {{getSourceFiles.getSourceFilesTaskDef.qualifiedId}} getSourceFiles,
        {{checkTaskDef.qualifiedId}} check
    ){
        this.classLoaderResources = classLoaderResources;
        this.getSourceFiles = getSourceFiles;
        this.check = check;
    }

    @Override public String getId() {
        return "{{baseCheckAggregatorTaskDef.qualifiedId}}";
    }

    @Override public @Nullable KeyedMessages exec(ExecContext context, ResourcePath input) throws IOException {
        context.require(classLoaderResources.tryGetAsNativeResource(getClass()), ResourceStampers.hashFile());

        final KeyedMessagesBuilder messagesBuilder = new KeyedMessagesBuilder();
        for(ResourceKey file : context.require(getSourceFiles, input)) {
            final KeyedMessages messages = context.require(check, new {{checkTaskDef.qualifiedId}}.Input(file, input));
            messagesBuilder.addMessages(messages);
        }
        return messagesBuilder.build();
    }
}
