package {{baseModule.packageId}};

import dagger.Module;
import dagger.Provides;
import dagger.multibindings.ElementsIntoSet;
import mb.common.result.Result;
import mb.jsglr1.common.JSGLR1ParseException;
import mb.log.api.LoggerFactory;
import mb.common.message.Messages;
import mb.pie.api.Function;
import mb.pie.api.Supplier;
import mb.pie.api.TaskDef;
import mb.resource.ResourceService;
import mb.resource.hierarchical.HierarchicalResource;
import mb.spoofax.core.language.LanguageInstance;
import mb.spoofax.core.language.command.AutoCommandRequest;
import mb.spoofax.core.language.command.CommandDef;
{{#isMultiLang}}
import mb.statix.multilang.metadata.AnalysisContextService;
import mb.statix.multilang.metadata.ContextDataManager;
import mb.statix.multilang.metadata.ImmutableLanguageMetadata;
import mb.statix.multilang.metadata.LanguageId;
import mb.statix.multilang.metadata.LanguageMetadata;
import mb.statix.multilang.metadata.LanguageMetadataManager;
import mb.statix.multilang.MultiLang;
import mb.statix.multilang.metadata.SpecFragmentId;
import mb.statix.multilang.metadata.spec.SpecConfig;
import mb.statix.multilang.pie.SmlSolveProject;
import mb.statix.multilang.pie.SmlInstantiateGlobalScope;
import mb.statix.multilang.pie.SmlPartialSolveFile;
import mb.statix.multilang.pie.SmlPartialSolveProject;
import mb.statix.multilang.pie.config.SmlBuildContextConfiguration;
import mb.statix.multilang.pie.config.SmlReadConfigYaml;
import mb.statix.multilang.pie.spec.SmlBuildSpec;
import mb.statix.multilang.pie.spec.SmlLoadFragment;
import mb.statix.multilang.utils.MetadataUtils;
{{/isMultiLang}}
import mb.stratego.common.StrategoRuntime;
import mb.stratego.common.StrategoRuntimeBuilder;
import org.spoofax.interpreter.terms.IStrategoTerm;
import org.spoofax.interpreter.terms.ITermFactory;

import {{scope.qualifiedId}};
import {{qualifier.qualifiedId}};

import javax.inject.Named;
import java.util.HashSet;
import java.util.Set;
import java.util.Map;

@Module
public class {{baseModule.id}} {
{{#parser}}
    @Provides @{{scope.id}}
    static {{this.languageProjectInput.parserFactory.qualifiedId}} provideParserFactory(@{{qualifier.id}}("definition-directory") HierarchicalResource definitionDir) {
        return new {{this.languageProjectInput.parserFactory.qualifiedId}}(definitionDir);
    }

    @Provides /* Unscoped: parser has state, so create a new parser every call. */
    static {{this.languageProjectInput.parser.qualifiedId}} provideParser({{this.languageProjectInput.parserFactory.qualifiedId}} parserFactory) {
        return parserFactory.create();
    }
{{/parser}}
{{#styler}}


    @Provides @{{scope.id}}
    static {{this.languageProjectInput.stylerFactory.qualifiedId}} provideStylerFactory(LoggerFactory loggerFactory, @{{qualifier.id}}("definition-directory") HierarchicalResource definitionDir) {
        return new {{this.languageProjectInput.stylerFactory.qualifiedId}}(loggerFactory, definitionDir);
    }

    @Provides @{{scope.id}}
    static {{this.languageProjectInput.styler.qualifiedId}} provideStyler({{this.languageProjectInput.stylerFactory.qualifiedId}} stylerFactory) {
        return stylerFactory.create();
    }
{{/styler}}
{{#constraintAnalyzer}}


    @Provides @{{scope.id}}
    static {{this.languageProjectInput.constraintAnalyzerFactory.qualifiedId}} provideConstraintAnalyzerFactory(ResourceService resourceService) {
        return new {{this.languageProjectInput.constraintAnalyzerFactory.qualifiedId}}(resourceService);
    }

    @Provides @{{scope.id}}
    static {{this.languageProjectInput.constraintAnalyzer.qualifiedId}} provideConstraintAnalyzer({{this.languageProjectInput.constraintAnalyzerFactory.qualifiedId}} factory) {
        return factory.create();
    }
{{/constraintAnalyzer}}
{{#strategoRuntime}}


    @Provides @{{scope.id}}
    static {{this.languageProjectInput.strategoRuntimeBuilderFactory.qualifiedId}} provideStrategoRuntimeBuilderFactory(LoggerFactory loggerFactory, ResourceService resourceService, @{{qualifier.id}}("definition-directory") HierarchicalResource definitionDir) {
        return new {{this.languageProjectInput.strategoRuntimeBuilderFactory.qualifiedId}}(loggerFactory, resourceService, definitionDir);
    }

    @Provides @{{scope.id}} @{{qualifier.id}}
    static StrategoRuntimeBuilder provideQualifiedStrategoRuntimeBuilder({{this.languageProjectInput.strategoRuntimeBuilderFactory.qualifiedId}} factory) {
        return factory.create();
    }

    @Provides @{{scope.id}}
    static StrategoRuntimeBuilder provideStrategoRuntimeBuilder(@{{qualifier.id}} StrategoRuntimeBuilder strategoRuntimeBuilder) {
        return strategoRuntimeBuilder;
    }

    @Provides @{{scope.id}} @Named("prototype")
    static StrategoRuntime providePrototypeStrategoRuntime(StrategoRuntimeBuilder builder) {
        return builder.build();
    }

    @Provides @{{qualifier.id}} /* Unscoped: new stratego runtime every call. */
    static StrategoRuntime provideQualifiedStrategoRuntime(StrategoRuntimeBuilder builder, @Named("prototype") StrategoRuntime prototype) {
        return builder.buildFromPrototype(prototype);
    }

    @Provides /* Unscoped: new stratego runtime every call. */
    static StrategoRuntime provideStrategoRuntime(@{{qualifier.id}} StrategoRuntime strategoRuntime) {
        return strategoRuntime;
    }
{{/strategoRuntime}}

    @Provides @{{scope.id}} @{{qualifier.id}} @ElementsIntoSet
    static Set<TaskDef<?, ?>> provideTaskDefs(
{{#providedTaskDefs}}
        {{variable}}{{^-last}},{{/-last}}
{{/providedTaskDefs}}
    ) {
        final HashSet<TaskDef<?, ?>> taskDefs = new HashSet<>();
{{#providedTaskDefs}}
        taskDefs.add({{name}});
{{/providedTaskDefs}}
        return taskDefs;
    }
{{#multilangAnalyzer}}
    @Provides @{{scope.id}}
    static LanguageId provideLanguageId() {
        return new LanguageId("{{languageId}}");
    }
{{/multilangAnalyzer}}

    @Provides @{{scope.id}}
    static LanguageInstance provideLanguageInstance({{instance.qualifiedId}} instance) {
        return instance;
    }


    @Provides @{{scope.id}} @ElementsIntoSet
    static Set<CommandDef<?>> provideCommandDefsSet(
{{#providedCommandDefs}}
        {{variable}}{{^-last}},{{/-last}}
{{/providedCommandDefs}}
    ) {
        final HashSet<CommandDef<?>> commandDefs = new HashSet<>();
{{#providedCommandDefs}}
        commandDefs.add({{name}});
{{/providedCommandDefs}}
        return commandDefs;
    }

    @Provides @{{scope.id}} @ElementsIntoSet
    static Set<AutoCommandRequest<?>> provideAutoCommandRequestsSet(
{{#providedAutoCommandDefs}}
        {{value.commandDef.qualifiedId}} {{name}}{{^-last}},{{/-last}}
{{/providedAutoCommandDefs}}
    ) {
        final HashSet<AutoCommandRequest<?>> autoCommandDefs = new HashSet<>();
{{#providedAutoCommandDefs}}
        autoCommandDefs.add(AutoCommandRequest.of({{name}}, new RawArgs(MapView.of({{#value.initialArgs.entrySet}}new EntryView<>("{{getKey}}", {{getValue}}){{^-last}},{{/-last}}{{/value.initialArgs.entrySet}})){{#value.resourceTypes}}, HierarchicalResourceType.{{this}}{{/value.resourceTypes}}));
{{/providedAutoCommandDefs}}
        return autoCommandDefs;
    }
{{#isMultiLang}}
    @Provides @{{scope.id}}
    static SmlLoadFragment provideLoadFragment(@MultiLang SmlLoadFragment loadFragment) {
        return loadFragment;
    }

    @Provides @{{scope.id}}
    static SmlBuildSpec provideBuildSpec(@MultiLang SmlBuildSpec buildSpec) {
        return buildSpec;
    }

    @Provides @{{scope.id}}
    static SmlPartialSolveFile providePartialSolveFile(@MultiLang SmlPartialSolveFile partialSolveFile) {
        return partialSolveFile;
    }

    @Provides @{{scope.id}}
    static SmlPartialSolveProject providePartialSolveProject(@MultiLang SmlPartialSolveProject partialSolveProject) {
        return partialSolveProject;
    }

    @Provides @{{scope.id}}
    static SmlInstantiateGlobalScope provideInstantiateGlobalScope(@MultiLang SmlInstantiateGlobalScope instantiateGlobalScope) {
        return instantiateGlobalScope;
    }

    @Provides @{{scope.id}}
    static SmlBuildContextConfiguration provideBuildContextConfiguration(@MultiLang SmlBuildContextConfiguration buildContextConfiguration) {
        return buildContextConfiguration;
    }

    @Provides @{{scope.id}}
    static SmlSolveProject provideSolveProject(@MultiLang SmlSolveProject solveProject) {
        return solveProject;
    }

    @Provides @{{scope.id}}
    static SmlReadConfigYaml provideReadConfigYaml(@MultiLang SmlReadConfigYaml readConfigYaml) {
        return readConfigYaml;
    }

    @Provides @{{scope.id}}
    static AnalysisContextService getAnalysisContextService(@MultiLang AnalysisContextService analysisContextService) {
        return analysisContextService;
    }

    @Provides @{{scope.id}}
    static LanguageMetadataManager provideLanguageMetadataManager(@MultiLang AnalysisContextService analysisContextService) {
        return analysisContextService;
    }

    @Provides @{{scope.id}}
    static ContextDataManager provideContextDataManager(@MultiLang AnalysisContextService analysisContextService) {
        return analysisContextService;
    }

    {{#parser}}
    @Provides @{{scope.id}}
    static Function<Supplier<String>, Result<IStrategoTerm, JSGLR1ParseException>> provideParseFunction({{parseTaskDef.qualifiedId}} parse) {
        return parse.createAstFunction();
    }

    @Provides @{{scope.id}}
    static Function<Supplier<String>, Messages> provideParseMessagesFunction({{parseTaskDef.qualifiedId}} parse) {
        return parse.createMessagesFunction();
    }
    {{/parser}}

    {{#multilangAnalyzer}}
    @Provides @{{scope.id}}
    static LanguageMetadata getLanguageMetadata(
        @Named("prototype") StrategoRuntime strategoRuntime,
        {{preStatixTaskDef.qualifiedId}} preStatix,
        {{postStatixTaskDef.qualifiedId}} postStatix,
        {{indexAstTaskDef.qualifiedId}} indexAst
    ) {
        ITermFactory termFactory = strategoRuntime.getTermFactory();
        return ImmutableLanguageMetadata.builder()
            .resourcesSupplier(MetadataUtils.resourcesSupplierForExtensions({{#shared.fileExtensions}}"{{this}}"{{^-last}}, {{/-last}}{{/shared.fileExtensions}}))
            .astFunction(preStatix.createFunction().mapInput(indexAst::createSupplier))
            .postTransform(postStatix.createFunction().mapInput(x -> x))
            .termFactory(termFactory)
            .fileConstraint("{{fileConstraint}}")
            .projectConstraint("{{projectConstraint}}")
            .build();
    }

    @Provides @{{scope.id}}
    static Map<SpecFragmentId, SpecConfig> getSpecConfig(@Named("prototype") StrategoRuntime strategoRuntime) {
        return {{languageProjectInput.specConfigFactory.qualifiedId}}.getSpecConfigs(strategoRuntime.getTermFactory());
    }
    {{/multilangAnalyzer}}
{{/isMultiLang}}
}
