package {{genExports.packageId}};

import mb.resource.hierarchical.HierarchicalResource;

import java.util.ArrayList;

public class {{genExports.id}} {
{{#combinedExports}}
    public static ArrayList<String> get{{languageIdCapitalized}}Exports() {
        final ArrayList<String> exports = new ArrayList<>();
{{#relativePaths}}
        exports.add("{{this}}");
{{/relativePaths}}
        return exports;
    }

{{/combinedExports}}
}
