package {{baseAddNatureHandler.packageId}};

import mb.spoofax.eclipse.nature.AddNatureHandler;

public class {{baseAddNatureHandler.id}} extends AddNatureHandler {
    public {{baseAddNatureHandler.id}}() {
        super({{language.qualifiedId}}.getInstance().getComponent());
    }
}
