package {{baseEclipseComponent.packageId}};

import dagger.Component;
import mb.spoofax.core.platform.ResourceServiceComponent;
import mb.spoofax.eclipse.EclipseLanguageComponent;
import mb.spoofax.eclipse.EclipsePlatformComponent;

@{{adapterProjectCompilerInput.scope.qualifiedId}}
@Component(
    modules = {
        {{adapterProjectCompilerInput.module.qualifiedId}}.class,
        {{eclipseModule.qualifiedId}}.class{{#adapterProjectCompilerInput.additionalModules}}{{#-first}}, {{/-first}}
        {{qualifiedId}}.class{{^-last}},
{{/-last}}{{/adapterProjectCompilerInput.additionalModules}}
    },
    dependencies = {
        {{adapterProjectCompilerInput.resourcesComponent.qualifiedId}}.class,
        ResourceServiceComponent.class,
        EclipsePlatformComponent.class{{#adapterProjectCompilerInput.isMultiLang}},
        mb.statix.multilang.eclipse.MultiLangEclipseComponent.class{{/adapterProjectCompilerInput.isMultiLang}}
    }
)
public interface {{baseEclipseComponent.id}} extends EclipseLanguageComponent, {{adapterProjectCompilerInput.component.qualifiedId}} {
    {{editorTracker.qualifiedId}} getEditorTracker();
}
