<?xml version='1.0' encoding='UTF-8'?>
<schema targetNamespace="{{pluginId}}" xmlns="http://www.w3.org/2001/XMLSchema">
  <annotation>
    <appinfo>
      <meta.schema
        plugin="{{pluginId}}"
        id="{{componentExtensionPointId}}"
        name="{{shared.name}} component customization"
      />
    </appinfo>
    <documentation>
      Extension point for customizing the {{shared.name}} component.
    </documentation>
  </annotation>

  <element name="extension">
    <annotation>
      <appinfo>
        <meta.element/>
      </appinfo>
    </annotation>
    <complexType>
      <choice minOccurs="1" maxOccurs="unbounded">
        <element ref="customizer"/>
      </choice>
      <attribute name="point" type="string" use="required"/>
      <attribute name="id" type="string"/>
      <attribute name="name" type="string"/>
    </complexType>
  </element>

  <element name="customizer">
    <complexType>
      <attribute name="class" type="string" use="required">
        <annotation>
          <documentation/>
          <appinfo>
            <meta.attribute kind="java" basedOn=":{{componentCustomizer.qualifiedId}}"/>
          </appinfo>
        </annotation>
      </attribute>
    </complexType>
  </element>
</schema>
