package {{baseEditorTracker.packageId}};

import mb.spoofax.eclipse.EclipseIdentifiers;
import mb.spoofax.eclipse.editor.EditorTracker;

import javax.inject.Inject;

@{{adapterProjectCompilerInput.scope.qualifiedId}}
public class {{baseEditorTracker.id}} extends EditorTracker {
    @Inject public {{baseEditorTracker.id}}(@{{adapterProjectCompilerInput.qualifier.qualifiedId}} EclipseIdentifiers eclipseIdentifiers) {
        super(eclipseIdentifiers, {{editor.qualifiedId}}.class);
    }
}
