package {{baseEditor.packageId}};

import mb.spoofax.eclipse.editor.SpoofaxEditor;

public class {{baseEditor.id}} extends SpoofaxEditor {
    public {{baseEditor.id}}() {
        super({{language.qualifiedId}}.getInstance().getComponent());
    }
}
