package {{baseEditor.packageId}};

import mb.spoofax.eclipse.editor.SpoofaxEditor;
import mb.spoofax.eclipse.editor.SpoofaxSourceViewerConfiguration;
import org.eclipse.jface.text.source.SourceViewerConfiguration;

public class {{baseEditor.id}} extends SpoofaxEditor {
    public {{baseEditor.id}}() {
        super({{participantFactory.qualifiedId}}.getParticipant().getComponent(), {{participantFactory.qualifiedId}}.getParticipant().getPieComponent());
    }

    @Override protected SourceViewerConfiguration createSourceViewerConfiguration() {
        return new SpoofaxSourceViewerConfiguration(
            this,
            {{participantFactory.qualifiedId}}.getParticipant().getComponent(),
            {{participantFactory.qualifiedId}}.getParticipant().getPieComponent()
        );
    }
}
