package {{baseEditorContextMenu.packageId}};

import mb.spoofax.eclipse.menu.EditorContextMenu;

public class {{baseEditorContextMenu.id}} extends EditorContextMenu {
    public {{baseEditorContextMenu.id}}() {
        super({{language.qualifiedId}}.getInstance().getComponent());
    }
}
