package {{baseLanguage.packageId}};

import mb.log.api.Logger;
import mb.pie.api.ExecException;
import mb.pie.dagger.PieComponent;
import mb.resource.dagger.ResourceServiceComponent;
import mb.spoofax.eclipse.EclipseLifecycleParticipant;
import mb.spoofax.eclipse.EclipsePlatformComponent;
import mb.spoofax.eclipse.EclipseResourceServiceComponent;
import mb.spoofax.eclipse.log.EclipseLoggerComponent;
import mb.spoofax.eclipse.resource.EclipseClassLoaderUrlResolver;
import mb.spoofax.eclipse.resource.EclipseClassLoaderToNativeResolver;
import mb.spoofax.eclipse.util.StatusUtil;
import org.checkerframework.checker.nullness.qual.Nullable;
import org.eclipse.core.resources.ResourcesPlugin;
import org.eclipse.core.resources.WorkspaceJob;
import org.eclipse.core.runtime.CoreException;
import org.eclipse.core.runtime.IConfigurationElement;
import org.eclipse.core.runtime.IContributor;
import org.eclipse.core.runtime.IExtensionPoint;
import org.eclipse.core.runtime.IExtensionRegistry;
import org.eclipse.core.runtime.IProgressMonitor;
import org.eclipse.core.runtime.IStatus;
import org.eclipse.core.runtime.InvalidRegistryObjectException;
import org.eclipse.core.runtime.Platform;
import org.eclipse.core.runtime.jobs.ISchedulingRule;
import org.eclipse.core.runtime.jobs.MultiRule;

import java.io.IOException;
import java.util.ArrayList;

public class {{baseLanguage.id}} implements EclipseLifecycleParticipant {
    protected {{adapterProjectCompilerInput.resourcesComponent.nullableQualifiedId}} resourcesComponent;
    protected {{eclipseComponent.nullableQualifiedId}} component;
    protected @Nullable PieComponent pieComponent;


    public {{adapterProjectCompilerInput.resourcesComponent.qualifiedId}} getResourcesComponent() {
        if(resourcesComponent == null) {
            throw new RuntimeException("{{adapterProjectCompilerInput.resourcesComponent.id}} has not been initialized yet or has been deinitialized");
        }
        return resourcesComponent;
    }

    public {{eclipseComponent.qualifiedId}} getComponent() {
        if(component == null) {
            throw new RuntimeException("{{eclipseComponent.id}} has not been initialized yet or has been deinitialized");
        }
        return component;
    }

    public PieComponent getPieComponent() {
        if(pieComponent == null) {
            throw new RuntimeException("PieComponent has not been initialized yet or has been deinitialized");
        }
        return pieComponent;
    }


    @Override public {{adapterProjectCompilerInput.resourcesComponent.qualifiedId}} getResourceRegistriesProvider(
        EclipseLoggerComponent loggerComponent,
        EclipseResourceServiceComponent baseResourceServiceComponent,
        EclipsePlatformComponent platformComponent
    ) {
        if(resourcesComponent == null) {
            final {{adapterProjectCompilerInput.daggerResourcesComponent.qualifiedId}}.Builder builder = {{adapterProjectCompilerInput.daggerResourcesComponent.qualifiedId}}.builder()
                .{{adapterProjectCompilerInput.resourcesModule.idAsCamelCase}}(new {{adapterProjectCompilerInput.resourcesModule.qualifiedId}}(
                    new EclipseClassLoaderUrlResolver(),
                    new EclipseClassLoaderToNativeResolver(baseResourceServiceComponent.getEclipseResourceRegistry()))
                );
            getCustomizers(loggerComponent).forEach(c -> c.customize(builder));
            resourcesComponent = builder.build();
        }
        return resourcesComponent;
    }

    @Override public {{eclipseComponent.qualifiedId}} getTaskDefsProvider(
        EclipseLoggerComponent loggerComponent,
        ResourceServiceComponent resourceServiceComponent,
        EclipsePlatformComponent platformComponent
    ) {
        return getLanguageComponent(loggerComponent, resourceServiceComponent, platformComponent);
    }

    @Override public {{eclipseComponent.qualifiedId}} getLanguageComponent(
        EclipseLoggerComponent loggerComponent,
        ResourceServiceComponent resourceServiceComponent,
        EclipsePlatformComponent platformComponent
    ) {
        if(component == null) {
            final {{daggerEclipseComponent.qualifiedId}}.Builder builder = {{daggerEclipseComponent.qualifiedId}}.builder()
                .eclipseLoggerComponent(loggerComponent)
                .{{adapterProjectCompilerInput.resourcesComponent.idAsCamelCase}}(getResourcesComponent())
                {{#adapterProjectCompilerInput.multilangAnalyzer}}
                .multiLangEclipseComponent(mb.statix.multilang.eclipse.MultiLangPlugin.getComponent())
                {{/adapterProjectCompilerInput.multilangAnalyzer}}
                .resourceServiceComponent(resourceServiceComponent)
                .eclipsePlatformComponent(platformComponent){{#adapterProjectCompilerInput.dependOnRv32Im}}
                .rv32ImEclipseComponent(mb.rv32im.eclipse.Rv32ImEclipseParticipantFactory.getParticipant().getComponent()){{/adapterProjectCompilerInput.dependOnRv32Im}}{{#adapterProjectCompilerInput.dynamix}}
                .dynamixRuntimeEclipseComponent(mb.dynamix_runtime.eclipse.DynamixRuntimeEclipseParticipantFactory.getParticipant().getComponent()){{/adapterProjectCompilerInput.dynamix}}
                ;
            getCustomizers(loggerComponent).forEach(c -> c.customize(builder));
            component = builder.build();
        }
        return component;
    }

    @Override public void start(
        EclipseLoggerComponent loggerComponent,
        ResourceServiceComponent resourceServiceComponent,
        EclipsePlatformComponent platformComponent,
        PieComponent pieComponent
    ) {
        this.pieComponent = pieComponent;
        final {{eclipseComponent.qualifiedId}} component = getComponent();
        component.getEditorTracker().register();
        final WorkspaceJob job = new WorkspaceJob("{{shared.name}} startup") {
            @Override public IStatus runInWorkspace(IProgressMonitor monitor) throws CoreException {
                try {
                    platformComponent.getPieRunner().startup(component, pieComponent, monitor);
                } catch(IOException | ExecException | InterruptedException e) {
                    throw new CoreException(StatusUtil.error("{{shared.name}} startup job failed unexpectedly", e));
                }
                return StatusUtil.success();
            }
        };
        job.setRule(MultiRule.combine(new ISchedulingRule[]{
            component.startupWriteLockRule(),
            // Require refresh rule for the workspace, as the startup job walks over all projects, which refreshes them.
            ResourcesPlugin.getWorkspace().getRuleFactory().refreshRule(ResourcesPlugin.getWorkspace().getRoot()),
        }));
        job.schedule();
    }

    @Override public void close() {
        pieComponent = null;
        if(component != null) {
            component.getEditorTracker().unregister();
            component.close();
            component = null;
        }
        resourcesComponent = null;
    }


    private static ArrayList<{{componentCustomizer.qualifiedId}}> getCustomizers(EclipseLoggerComponent loggerComponent) {
        final Logger logger = loggerComponent.getLoggerFactory().create({{baseLanguage.id}}.class);
        final ArrayList<{{componentCustomizer.qualifiedId}}> customizers = new ArrayList<>();
        final IExtensionRegistry registry = Platform.getExtensionRegistry();
        final @Nullable IExtensionPoint point = registry.getExtensionPoint("{{componentExtensionPointId}}");
        if(point == null) return customizers; // Dynamically loaded languages do not have this extension point.
        final IContributor contributor = point.getContributor();
        for(IConfigurationElement config : point.getConfigurationElements()) {
            if(config.getName().equals("customizer")) {
                try {
                    final Object object = config.createExecutableExtension("class");
                    if(object == null) {
                        logger.error("Found customizer in '{}', but it does not have a 'class' property; skipping...", contributor);
                    }
                    if(object instanceof {{componentCustomizer.qualifiedId}}) {
                        customizers.add(({{componentCustomizer.qualifiedId}})object);
                    } else {
                        logger.error("Found customizer in '{}', but the object '{}' instantiated from its 'class' property does not implement '{{componentCustomizer.qualifiedId}}'; skipping...", contributor, object);
                    }
                } catch(CoreException | InvalidRegistryObjectException e) {
                    logger.error("Found participant in '{}', but instantiating an object of its 'class' property failed unexpectedly; skipping...", e, contributor);
                }
            }
        }
        return customizers;
    }
}
