package {{genMainMenu.packageId}};

import mb.spoofax.eclipse.menu.MainMenu;

public class {{genMainMenu.id}} extends MainMenu {
    public {{genMainMenu.id}}() {
        super({{plugin.qualifiedId}}.getComponent());
    }
}
