package {{baseMainMenu.packageId}};

import mb.spoofax.eclipse.menu.MainMenu;

public class {{baseMainMenu.id}} extends MainMenu {
    public {{baseMainMenu.id}}() {
        super({{language.qualifiedId}}.getInstance().getComponent());
    }
}
