Manifest-Version: 1.0
Bundle-ManifestVersion: 2
Bundle-SymbolicName: {{project.coordinate.artifactId}};singleton:=true
Bundle-Activator: {{plugin.qualifiedId}}
Bundle-RequiredExecutionEnvironment: JavaSE-1.8
Bundle-ActivationPolicy: lazy
Eclipse-BuddyPolicy: registered
Require-Bundle: spoofax.eclipse,tooling.eclipsebundle
