package {{baseNature.packageId}};

import mb.spoofax.eclipse.nature.SpoofaxNature;

public class {{baseNature.id}} extends SpoofaxNature {
    public {{baseNature.id}}() {
        super({{language.qualifiedId}}.getInstance().getComponent());
    }
}
