package {{baseObserveHandler.packageId}};

import mb.spoofax.eclipse.menu.ObserveHandler;

public class {{baseObserveHandler.id}} extends ObserveHandler {
    public {{baseObserveHandler.id}}() {
        super({{language.qualifiedId}}.getInstance().getComponent());
    }
}
