package {{basePlugin.packageId}};

import mb.pie.api.ExecException;
import mb.spoofax.core.platform.DaggerResourceServiceComponent;
import mb.spoofax.core.platform.ResourceServiceComponent;
import mb.spoofax.eclipse.SpoofaxPlugin;
import mb.spoofax.eclipse.util.StatusUtil;
import org.checkerframework.checker.nullness.qual.NonNull;
import org.checkerframework.checker.nullness.qual.Nullable;
import org.eclipse.core.resources.WorkspaceJob;
import org.eclipse.core.runtime.CoreException;
import org.eclipse.core.runtime.IProgressMonitor;
import org.eclipse.core.runtime.IStatus;
import org.eclipse.ui.plugin.AbstractUIPlugin;
import org.osgi.framework.BundleContext;

import java.io.IOException;

public class {{basePlugin.id}} extends AbstractUIPlugin {
    public static final String pluginId = "{{pluginId}}";

    private static {{adapterProjectCompilerInput.resourcesComponent.nullableQualifiedId}} resourcesComponent;
    private static {{eclipseComponent.nullableQualifiedId}} component;

    public static {{adapterProjectCompilerInput.resourcesComponent.qualifiedId}} getResourcesComponent() {
        if(resourcesComponent == null) {
            throw new RuntimeException("Cannot access {{adapterProjectCompilerInput.resourcesComponent.id}}; {{basePlugin.id}} has not been started yet, or has been stopped");
        }
        return resourcesComponent;
    }

    public static {{eclipseComponent.qualifiedId}} getComponent() {
        if(component == null) {
            throw new RuntimeException("Cannot access {{eclipseComponent.id}}; {{basePlugin.id}} has not been started yet, or has been stopped");
        }
        return component;
    }

    @Override public void start(@NonNull BundleContext context) throws Exception {
        super.start(context);
        resourcesComponent = {{adapterProjectCompilerInput.daggerResourcesComponent.qualifiedId}}.create();
        final ResourceServiceComponent resourceServiceComponent = DaggerResourceServiceComponent.builder()
            .resourceServiceModule(SpoofaxPlugin.getResourceServiceComponent().createParentModule().addRegistriesFrom(resourcesComponent))
            .build();
        component = {{daggerEclipseComponent.qualifiedId}}.builder()
            .{{adapterProjectCompilerInput.resourcesComponent.idAsCamelCase}}(resourcesComponent)
            {{#adapterProjectCompilerInput.multilangAnalyzer}}
            .multiLangEclipseComponent(mb.statix.multilang.eclipse.MultiLangPlugin.getComponent())
            {{/adapterProjectCompilerInput.multilangAnalyzer}}
            .resourceServiceComponent(resourceServiceComponent)
            .eclipsePlatformComponent(SpoofaxPlugin.getPlatformComponent())
            .build();

        component.getEditorTracker().register();

        WorkspaceJob job = new WorkspaceJob("{{shared.name}} startup") {
            @Override public IStatus runInWorkspace(IProgressMonitor monitor) throws CoreException {
                try {
                    SpoofaxPlugin.getPlatformComponent().getPieRunner().startup(component, monitor);
                } catch(IOException | ExecException | InterruptedException e) {
                    throw new CoreException(StatusUtil.error("{{shared.name}} startup job failed unexpectedly", e));
                }
                return StatusUtil.success();
            }
        };
        job.setRule(component.startupWriteLockRule());
        job.schedule();
    }

    @Override public void stop(@NonNull BundleContext context) throws Exception {
        super.stop(context);
        component = null;
        resourcesComponent = null;
    }
}
