package {{basePlugin.packageId}};

import org.checkerframework.checker.nullness.qual.NonNull;
import org.eclipse.ui.plugin.AbstractUIPlugin;
import org.osgi.framework.BundleContext;

public class {{basePlugin.id}} extends AbstractUIPlugin {
    public static final String pluginId = "{{pluginId}}";

    @Override public void start(@NonNull BundleContext context) throws Exception {
        super.start(context);
    }

    @Override public void stop(@NonNull BundleContext context) throws Exception {
        super.stop(context);
    }
}
