package {{baseProjectBuilder.packageId}};

import mb.spoofax.eclipse.build.SpoofaxProjectBuilder;

public class {{baseProjectBuilder.id}} extends SpoofaxProjectBuilder {
    public {{baseProjectBuilder.id}}() {
        super({{language.qualifiedId}}.getInstance().getComponent());
    }
}
