package {{genProjectBuilder.packageId}};

import mb.spoofax.eclipse.build.SpoofaxProjectBuilder;

public class {{genProjectBuilder.id}} extends SpoofaxProjectBuilder {
    public {{genProjectBuilder.id}}() {
        super({{plugin.qualifiedId}}.getComponent());
    }
}
