package {{baseRemoveNatureHandler.packageId}};

import mb.spoofax.eclipse.nature.RemoveNatureHandler;

public class {{baseRemoveNatureHandler.id}} extends RemoveNatureHandler {
    public {{baseRemoveNatureHandler.id}}() {
        super({{language.qualifiedId}}.getInstance().getComponent());
    }
}
