package {{genRemoveNatureHandler.packageId}};

import mb.spoofax.eclipse.nature.RemoveNatureHandler;

public class {{genRemoveNatureHandler.id}} extends RemoveNatureHandler {
    public {{genRemoveNatureHandler.id}}() {
        super({{plugin.qualifiedId}}.getComponent());
    }
}
