package {{baseResourceContextMenu.packageId}};

import mb.spoofax.eclipse.menu.ResourceContextMenu;

public class {{baseResourceContextMenu.id}} extends ResourceContextMenu {
    public {{baseResourceContextMenu.id}}() {
        super({{language.qualifiedId}}.getInstance().getComponent());
    }
}
