package {{baseRunCommandHandler.packageId}};

import mb.spoofax.eclipse.command.RunCommandHandler;

public class {{baseRunCommandHandler.id}} extends RunCommandHandler {
    public {{baseRunCommandHandler.id}}() {
        super({{participantFactory.qualifiedId}}.getParticipant().getComponent(), {{participantFactory.qualifiedId}}.getParticipant().getPieComponent());
    }
}
