package {{baseUnobserveHandler.packageId}};

import mb.spoofax.eclipse.menu.UnobserveHandler;

public class {{baseUnobserveHandler.id}} extends UnobserveHandler {
    public {{baseUnobserveHandler.id}}() {
        super({{languageFactory.qualifiedId}}.getLanguage().getComponent());
    }
}
