<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <!-- Markers -->
  <extension
    point="org.eclipse.core.resources.markers"
    id="spoofax.eclipse.marker"
  >
    <super type="org.eclipse.core.resources.textmarker"/>
    <super type="org.eclipse.core.resources.problemmarker"/>
    <persistent value="true"/>
  </extension>
  <extension
    point="org.eclipse.core.resources.markers"
    id="spoofax.eclipse.marker.info"
    name="Spoofax info marker"
  >
    <super type="spoofax.eclipse.marker"/>
    <persistent value="true"/>
  </extension>
  <extension
    point="org.eclipse.core.resources.markers"
    id="spoofax.eclipse.marker.warning"
    name="Spoofax warning marker"
  >
    <super type="spoofax.eclipse.marker"/>
    <persistent value="true"/>
  </extension>
  <extension
    point="org.eclipse.core.resources.markers"
    id="spoofax.eclipse.marker.error"
    name="Spoofax error marker"
  >
    <super type="spoofax.eclipse.marker"/>
    <persistent value="true"/>
  </extension>
  <extension point="org.eclipse.ui.editors.annotationTypes">
    <type
      markerType="spoofax.eclipse.marker.info"
      super="org.eclipse.ui.workbench.texteditor.info"
      markerSeverity="0"
      name="Spoofax info annotation"
    />
    <type
      markerType="spoofax.eclipse.marker.warning"
      super="org.eclipse.ui.workbench.texteditor.warning"
      markerSeverity="1"
      name="Spoofax warning annotation"
    />
    <type
      markerType="spoofax.eclipse.marker.error"
      super="org.eclipse.ui.workbench.texteditor.error"
      markerSeverity="2"
      name="Spoofax error annotation"
    />
  </extension>

  <!-- Property Testers -->
  <extension
    point="org.eclipse.core.expressions.propertyTesters"
  >
    <propertyTester
      class="mb.spoofax.eclipse.expressions.SpoofaxPropertyTester"
      id="spoofax.eclipse.propertyTester"
      namespace="spoofax.eclipse.property"
      properties="hasNature, isOpen"
      type="java.lang.Object"
    />
  </extension>

  <!-- Reusable command expressions -->
  <extension point="org.eclipse.core.expressions.definitions">
    <definition id="spoofax.eclipse.expression.isProject">
      <iterate ifEmpty="false" operator="and">
        <and>
          <or>
            <instanceof value="org.eclipse.core.resources.IProject"/>
            <!-- Test for project nature as well, in the Package explorer, Java projects of class JavaProject, which implements IProjectNature -->
            <instanceof value="org.eclipse.core.resources.IProjectNature"/>
          </or>
          <test
            forcePluginActivation="true"
            property="spoofax.eclipse.property.isOpen"
          />
        </and>
      </iterate>
    </definition>
  </extension>
</plugin>
