apply(plugin = "org.metaborg.gradle.config.java-application")

group = "{{project.coordinate.groupId}}"
version = "{{project.coordinate.version}}"

configure<SourceSetContainer> {
  named("main") {
    java {
      srcDir("$buildDir/generated/sources/spoofax/java")
    }
    resources {
      srcDir("$buildDir/generated/sources/spoofax/resources")
    }
  }
}

configure<ApplicationPluginConvention> {
  mainClassName = "{{main.qualifiedId}}"
}

val implementation by configurations
val compileOnly by configurations
val runtimeOnly by configurations
val testImplementation by configurations
val testCompileOnly by configurations
val testRuntimeOnly by configurations
val annotationProcessor by configurations
val testAnnotationProcessor by configurations
dependencies {
{{#dependencyCodes}}
  {{this}}
{{/dependencyCodes}}
}
