package {{genFactory.packageId}};

import mb.spoofax.compiler.interfaces.spoofaxcore.StrategoRuntimeBuilderFactory;
import mb.stratego.common.StrategoRuntimeBuilder;

public class {{genFactory.id}} implements StrategoRuntimeBuilderFactory {
    @Override public StrategoRuntimeBuilder create() {
        final StrategoRuntimeBuilder builder = new StrategoRuntimeBuilder();
{{#interopRegisterersByReflection}}
        builder.addInteropRegistererByReflection("{{this}}");
{{/interopRegisterersByReflection}}
        builder.withJarParentClassLoader({{genFactory.id}}.class.getClassLoader());
{{#addNaBL2Primitives}}
        builder.addLibrary(new mb.nabl2.common.NaBL2PrimitiveLibrary());
{{/addNaBL2Primitives}}
{{#addStatixPrimitives}}
        {
            final java.net.URL locationURL = {{genFactory.id}}.class.getProtectionDomain().getCodeSource().getLocation();
            final mb.resource.url.URLPath path = new mb.resource.url.URLPath(locationURL);
            final mb.resource.url.URLPath correctedPath = path.appendRelativePath("{{languageProject.packagePath}}");
            builder.addLibrary(new mb.statix.common.StatixPrimitiveLibrary("{{languageProject.project.coordinate.groupId}}", "{{languageProject.project.coordinate.artifactId}}", "{{languageProject.project.coordinate.version}}", correctedPath.toString()));
        }
{{/addStatixPrimitives}}
        return builder;
    }
}
