name: Build and publish documentation
on:
  push:
    branches:
      - master
      - develop
jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Upgrade pip
        run: python3 -m pip install --upgrade pip
      - name: Get pip cache dir
        id: pip-cache
        run: echo "::set-output name=dir::$(pip cache dir)"
      - name: Cache Python packages
        uses: actions/cache@v1
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('mkdocs_requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install Python packages
        run: python3 -m pip install -r mkdocs_requirements.txt

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v3.x

      - name: Build documentation
        run: mkdocs build
      - name: Publish documentation
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
          destination_dir: ${{ env.GITHUB_HEAD_REF_SLUG }}
