package {{baseStyleTaskDef.packageId}};

import mb.common.option.Option;
import mb.common.style.Styling;
import mb.jsglr.common.JSGLRTokens;
import mb.pie.api.ExecContext;
import mb.pie.api.ExecException;
import mb.pie.api.Supplier;
import mb.pie.api.TaskDef;

import javax.inject.Inject;
import java.io.IOException;

@{{adapterProject.scope.qualifiedId}}
public class {{baseStyleTaskDef.id}} implements TaskDef<Supplier<Option<JSGLRTokens>>, Option<Styling>> {
    private final {{classloaderResourcesInput.classloaderResources.qualifiedId}} classloaderResources;
    private final {{languageProjectInput.styler.qualifiedId}} styler;

    @Inject public {{baseStyleTaskDef.id}}(
        {{classloaderResourcesInput.classloaderResources.qualifiedId}} classloaderResources,
        {{languageProjectInput.styler.qualifiedId}} styler
    ) {
        this.classloaderResources = classloaderResources;
        this.styler = styler;
    }

    @Override public String getId() {
        return "{{baseStyleTaskDef.qualifiedId}}";
    }

    @Override
    public Option<Styling> exec(ExecContext context, Supplier<Option<JSGLRTokens>> tokensSupplier) throws ExecException, IOException, InterruptedException {
        context.require(classloaderResources.definitionDirectory.appendRelativePath("{{languageProjectInput.packedEsvRelativePath}}"));
        context.require(classloaderResources.getResource({{baseStyleTaskDef.id}}.class));
        context.require(classloaderResources.getResource({{languageProjectInput.styler.qualifiedId}}.class));
        context.require(classloaderResources.getResource({{languageProjectInput.stylerFactory.qualifiedId}}.class));
        context.require(classloaderResources.getResource({{languageProjectInput.stylingRules.qualifiedId}}.class));
        return context.require(tokensSupplier).map(t -> styler.style(t.tokens));
    }
}
