package {{genLanguage.packageId}};

import mb.spoofax.core.language.LanguageScope;
import mb.spoofax.intellij.IntellijLanguage;

import javax.inject.Inject;

@LanguageScope
public class {{genLanguage.id}} extends IntellijLanguage {
    @Inject public {{genLanguage.id}}() {
        super({{plugin.id}}.getComponent());
    }
}
