package {{genModule.packageId}};

import com.intellij.openapi.util.IconLoader;
import dagger.Module;
import dagger.Provides;
import mb.spoofax.core.language.LanguageScope;
import mb.spoofax.intellij.IntellijLanguage;

import javax.swing.*;

@Module
public class {{genModule.id}} {
    @Provides @LanguageScope
    static IntellijLanguage provideSpoofaxLanguage({{language.qualifiedId}} language) {
        // Downcast because injections in spoofax.intellij require an IntellijLanguage, and dagger does not implicitly downcast.
        return language;
    }

    @Provides @LanguageScope
    static Icon provideFileIcon() {
        return IconLoader.getIcon("META-INF/fileIcon.svg");
    }
}
