package {{syntaxHighlighterFactory.packageId}};

import mb.spoofax.intellij.editor.SpoofaxSyntaxHighlighterFactory;

public class {{syntaxHighlighterFactory.id}} extends SpoofaxSyntaxHighlighterFactory {
    // Instantiated by IntelliJ.
    private {{syntaxHighlighterFactory.id}}() {
        super({{plugin.qualifiedId}}.getComponent());
    }
}
